@CHARSET "UTF-8";
body
{
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	text-align:left;
	font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
}
a
{
	font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
	text-decoration:none;
}
a:hover
{
	text-decoration:underline;
}
img
{
    border:0;	
}
div
{
	display:block;
	}
	
div.clear
{
	height:0px;
	clear:both;
}
	
/*head的样式*/
div.blog_top_container
{
	height: 40px;
	width:100%;
	/*clear: both;*/
	background: #F4F4F4;
	margin: 0 auto;
	
	border-bottom: 1px solid #CCC;
	
	}

div.blog_top_container div.blog_top
{
	height: 100%;
	width: 1000px;
	text-align: left; 
	border: 0px solid #000;
	
	}
div.blog_top_container .blog_top .blog_logo
{
	
	width:160px;
	height:40px;
	float:left;
	}
	
div.blog_top_container .blog_top .nav_div
{
	float:left;
	height:100%;
}

div.blog_top_container .blog_top .logon_div
{
	float:right;
	height:100%;
}

div.blog_top_container .blog_top .logon_div div
{
	float:right;
	height:100%;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 15px;	
}

div.blog_top_container .blog_top .logon_div div a
{
	 font-family:"Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
	 font-size:12px;
	 color: #3B5998;
	 text-decoration:none;
	 display:block;
	 padding-top:15px;	
}

	
div.blog_top_container .blog_top .nav_div div
{
	float: left;
	height:100%;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 25px;	
}

div.blog_top_container .blog_top .nav_div div a
{
	 font-family:"Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
	 font-size:16px;
	 color: #3B5998;
	 text-decoration:none;
	 display:block;
	 padding-top:10px;	
}	

div.blog_top_container .blog_top .nav_div div a:hover
{
	text-decoration:underline;
}
	
	
/* 主框中的样式*/
div.main_frame
{
	width: 1000px;
	border:0px;
}


div.main_frame .main_left
{
	width: 770px;
	height: 100%;
	border:0px;
	float:left;
}

div.main_frame .main_left .spacetitle
{
	text-align:left;
	padding-left:15px;
	padding-top:20px;
	padding-bottom:30px;
   
}

div.main_frame .main_left .spacetitle .main_title a
{
	color:#080808;
	font-size: 30px;
	
	
}

div.main_frame .main_left .spacetitle .sub_title 
{
	color:#080808;
	font-size: 15px;
	
	
}

div.main_frame .main_left .articles
{
	width:700px;
	
}

div.main_frame .main_left .articles .article
{
	color:#454545;
	background-color: #FAF7F7;
	text-align:left;
	margin:20px;
	padding:15px;
	
	
}

div.main_frame .main_left .articles .article .ar_title
{
	color:#454545;
	text-align:left;
	width:500px;
	float:left;
	padding-bottom:15px;
	
	
}

div.main_frame .main_left .articles .article .ar_date
{
	color:#888;
	font-size:10px;
	float:right;
	width:110px;
	padding-top:16px;
	padding-right:15px;
	
}

div.main_frame .main_left .articles .article .ar_content
{
	
	text-align:left;
	font-size:14px;
	
}

div.main_frame .main_left .articles .article .ar_title a
{
	font-size: 20px;
    font-weight: bold;
    color: #333;
	
}

div.main_frame .main_left .articles .article .ar_operation 
{
	
	text-align:right;
	padding-right:30px;
	
}
div.main_frame .main_left .articles .article .ar_operation a
{
	
	color:#888;
	font-size:10px;
	
}


div.main_frame .main_right
{
	width: 230px;
	height: 100%;
	border: 0px solid #00CC00;
	float: right;
}

div.main_frame .main_right .photo
{
	width: 200px;
	height:200px;
	padding:15px;
	
}

div.main_frame .main_right .photo img
{
	width: 200px;
	height:200px;
	border: 1px;
	border-style:solid;
    border-color:#000;
	
}

div.main_frame .main_right .username
{
	text-align: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 15px;    
}

div.main_frame .main_right .username a
{
	font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	color: #039;
}

div.main_frame .main_right .comments
{
	padding:15px;

}

div.main_frame .main_right .comments .cm_title
{
	text-align: left;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px; 
	color:#52C503;
	width:60%;
	float:left;
}
div.main_frame .main_right .cm_detail
{
	text-align: left;
	padding-bottom:3px;
	
}

div.main_frame .main_right .cm_detail a
{
	font-size:12px;
	color: #039;
}
div.main_frame .main_right .cm_showmore
{
	text-align: right;
	padding-top: 14px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-left: 0px; 
	color:#52C503;
	float:right;
	width:70px;
	vertical-align:bottom;
}

div.main_frame .main_right .cm_showmore a
{
	color: #1188D8;
    text-decoration: none;
	font-family: "SimSun","宋体","Arial Narrow";
	font-size:10px;
}




div.main_frame .main_right .messages
{
	padding:15px;

}

div.main_frame .main_right .messages .ms_title
{
	text-align: left;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px; 
	color:#52C503;
	width:100px;
	float:left;
}
div.main_frame .main_right .ms_detail
{
	text-align: left;
	padding-bottom:3px;
	
}

div.main_frame .main_right .ms_detail a
{
	font-size:12px;
	color: #039;
}
div.main_frame .main_right .ms_showmore
{
	text-align: right;
	padding-top: 14px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 0px; 
	color:#52C503;
	float:right;
	width:80px;
	vertical-align:bottom;
	font-size:10px;
}

div.main_frame .main_right .ms_showmore a
{
	color: #999;
	display:block;
    text-decoration: none;
	font-family: "SimSun","宋体","Arial Narrow";
	font-size:10px;
}

div.foot
{
	text-align:left;
    width:900px;
    

}

div.foot .copyright
{
    padding:15px;
    font-size:10px;
	color:#203680;
	font-style:italic;
}






/*    newarticle       */
div.newarticle_form
{
	margin-top:40px;
	witdh:98%;
	
}
div.newarticle_form .newarticle_bar
{
	margin-bottom:20px;
	text-align:left;
	color:#080808;
	font-size: 30px;
}

div.newarticle_form .title_div_bar
{
   witdh:100%;
   text-align:left;
   padding-left:5px;
   padding-bottom:5px;
   
	
}

input.newarticle_title
{
	width: 99%;
	height: 30px;
	margin-bottom: 20px;
	font-weight: bold;
	vertical-align: middle;
	line-height: 30px;
	font-family: "微软雅黑";
	font-size: 20px;	
}

div.newarticle_form .article_opertion
{
    float:right;
	margin:10px;	
}

div.newarticle_form .article_opertion span
{
	display:block;
	height:27px;
	float:left;
	font-size: 18px;
	width: 95px;
	margin-left:5px;
	margin-right:5px;
	font-family: "微软雅黑";
	text-align: center;
	vertical-align: middle;
	color: #FFF;
}

div.newarticle_form .article_opertion span em.btn1 {
	font-style: normal;
	display:block;
	height:100%;
	width:100%;
	padding-top:3px;
	background-image: url(1-1.gif);
	background-repeat: no-repeat;
	background-position:0px 0px;
	
}
div.newarticle_form .article_opertion span em.btn1:hover
{
	background-position:0px -31px;
	cursor:pointer;
	
	}
	
div.newarticle_form .article_opertion span em.btn2	{
	font-style: normal;
	display:block;
	height:100%;
	width:100%;
	padding-top:3px;
	background-image: url(1-1.gif);
	background-repeat: no-repeat;
	background-position: 0px -62px;
	color: #999999;

}
div.newarticle_form .article_opertion span em.btn2:hover
{
	background-position:0px -93px;
	cursor:pointer;
	
	}
