.clearfix::after {
	height: 0px; clear: both; font-size: 0px; display: block; visibility: hidden; content: " ";
}
.clearfix {
	display: inline-table;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
body {
	background: url("bg.jpg") rgb(238, 238, 238); margin: 0px; padding: 0px; text-align: center;
}
body {
	color: rgb(68, 68, 68); font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif; font-size: 12px;
}
td {
	color: rgb(68, 68, 68); font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif; font-size: 12px;
}
input {
	color: rgb(68, 68, 68); font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif; font-size: 12px;
}
textarea {
	color: rgb(68, 68, 68); font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif; font-size: 12px;
}
a:link {
	color: rgb(59, 89, 152); text-decoration: none;
}
a:active {
	color: rgb(59, 89, 152); text-decoration: none;
}
a:visited {
	color: rgb(59, 89, 152); text-decoration: none;
}
a:hover {
	color: rgb(59, 89, 152); text-decoration: underline;
}
.qa-q-view-follows {
	background: rgb(0, 0, 0); padding: 2px 5px;
}
.qa-q-view-follows-link {
	color: rgb(235, 177, 0) !important;
}
input {
	
}
input[type='submit'] {
	cursor: pointer;
}
select {
	background: rgb(255, 255, 255); padding: 2px 0px 2px 2px; border: 1px solid rgb(204, 204, 204); color: rgb(102, 102, 102);
}
p {
	margin-top: 0px;
}
.qa-notice {
	background: url("suggest-bg.png") repeat-x left bottom rgb(235, 197, 226); padding: 12px 32px; color: rgb(92, 0, 69); font-size: 14px; font-weight: 700; border-bottom-color: rgb(89, 119, 0); border-bottom-width: 1px; border-bottom-style: solid; position: relative;
}
.qa-notice-close-button {
	border: currentColor; top: 4px; height: 24px; right: 6px; color: rgb(92, 0, 69); font-family: "Arial Black"; font-size: 18px; position: absolute; cursor: pointer;
}
.qa-notice-close-hover {
	border: currentColor; top: 4px; height: 24px; right: 6px; color: rgb(92, 0, 69); font-family: "Arial Black"; font-size: 18px; position: absolute; cursor: pointer;
}
.qa-body-wrapper {
	background: rgb(255, 255, 255); border-width: 2px; border-style: solid; border-color: rgb(221, 221, 221) rgb(221, 221, 221) rgb(204, 204, 204); margin: 30px auto; border-radius: 10px; width: 980px; text-align: left; box-shadow: 0px 0px 15px rgba(0,0,0,0.1); -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.qa-nav-main-clear {
	clear: both;
}
.qa-nav-sub-clear {
	clear: both;
}
.qa-q-item-clear {
	clear: both;
}
.qa-q-view-clear {
	clear: both;
}
.qa-a-item-clear {
	clear: both;
}
.qa-c-item-clear {
	clear: both;
}
.qa-footer-clear {
	clear: both;
}
.qa-page-links-clear {
	clear: both;
}
h1 {
	margin: 1em 0px 0.5em; color: rgb(59, 89, 152); font-size: 22px; font-weight: 700;
}
h2 {
	background: rgb(59, 89, 152); padding: 6px; color: rgb(255, 255, 255); clear: both; font-size: 16px;
}
blockquote {
	background: rgb(68, 68, 68); margin: 30px auto; padding: 15px; border: 1px solid rgb(119, 119, 119); color: rgb(119, 119, 119); font-family: "Times New Roman", Georgia; font-size: 22px; font-style: italic; position: relative; -moz-transition: color ease-in-out 0.25s; -webkit-transition: color ease-in-out 0.25s; -o-transition: color ease-in-out 0.25s; transition: color ease-in-out 0.25s;
}
blockquote:hover {
	color: rgb(204, 204, 204); -moz-transition: color ease-in-out 0.25s; -webkit-transition: color ease-in-out 0.25s; -o-transition: color ease-in-out 0.25s; transition: color ease-in-out 0.25s;
}
blockquote p {
	margin: 0px; padding: 0px;
}
.entry-title {
	background: url("question.png") no-repeat left; color: rgb(59, 89, 152); padding-left: 30px;
}
.qa-favoriting {
	margin-right: 8px; float: right;
}
.qa-favorite-button {
	background: url("favorite-heart.png") no-repeat; border: 0px currentColor; width: 24px; height: 24px;
}
.qa-favorite-hover {
	background: url("favorite-heart.png") no-repeat; border: 0px currentColor; width: 24px; height: 24px;
}
.qa-unfavorite-button {
	background: url("favorite-heart.png") no-repeat; border: 0px currentColor; width: 24px; height: 24px;
}
.qa-unfavorite-hover {
	background: url("favorite-heart.png") no-repeat; border: 0px currentColor; width: 24px; height: 24px;
}
.qa-favorite-button {
	background-position: 0px -24px;
}
.qa-favorite-hover {
	
}
.qa-favorite-button:hover {
	
}
.qa-unfavorite-button {
	background-position: 0px -48px;
}
.qa-unfavorite-hover {
	
}
.qa-unfavorite-button:hover {
	
}
.qa-error {
	background: url("error-bg.png") repeat-x left top rgb(254, 216, 216); margin: 1em 0px; padding: 0.5em; border: 2px solid rgb(204, 0, 0); color: rgb(204, 0, 0); font-size: 18px;
}
.qa-error a {
	color: rgb(153, 0, 0); text-decoration: underline;
}
.qa-error a:hover {
	color: red;
}
.qa-header {
	position: relative;
}
.qa-sidepanel {
	background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0ZjRmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+"); padding: 10px; width: 176px; float: right; filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#ffffff',GradientType=0 );
}
.qa-sidebar {
	margin: 18px 0px; font-size: 14px;
}
.qa-feed {
	background: url("feed-icon-14x14.png") no-repeat left 1px; margin: 18px 12px 18px 0px; padding-left: 20px;
}
.qa-feed-link {
	color: rgb(102, 102, 102); font-size: 12px;
}
.qa-main {
	width: 742px; overflow: hidden; padding-left: 20px; clear: left; margin-bottom: 24px; float: left;
}
.qa-main-hidden h1 {
	color: rgb(153, 153, 153);
}
.qa-footer {
	background: rgb(59, 89, 152); padding: 10px; border-radius: 0px 0px 10px 10px; color: rgb(175, 192, 226); clear: both; font-size: 10px;
}
.qa-footer a {
	color: rgb(175, 192, 226); text-decoration: underline;
}
.qa-footer a:visited {
	color: rgb(175, 192, 226); text-decoration: underline;
}
.qa-footer a:hover {
	color: rgb(255, 255, 255);
}
.qa-footer p {
	margin: 0px;
}
* html .qa-footer {
	padding-top: 6px;
}
.qa-widget-full {
	margin: 12px 20px; clear: both;
}
.qa-widget-full-high {
	margin-bottom: 0px;
}
.qa-widgets-main-high {
	margin-bottom: 24px;
}
.qa-widget-main {
	margin: 16px 0px; width: 748px;
}
.qa-widget-main-bottom {
	margin-bottom: 0px;
}
.qa-widget-side {
	margin: 24px 0px;
}
.qa-logo {
	padding-top: 10px; padding-left: 20px; font-size: 38px; font-weight: 700; margin-bottom: 16px; float: left;
}
.qa-logo-link {
	
}
.qa-logo-link:hover {
	
}
.qa-search {
	padding: 10px; margin-right: 10px; float: right; white-space: nowrap;
}
* html .qa-search {
	margin-right: 6px;
}
.qa-search form {
	margin: 0px;
}
.qa-search-field {
	background: rgb(255, 255, 255); padding: 4px; border: 1px solid rgb(204, 204, 204); width: 12.6em; height: 22px; color: rgb(102, 102, 102); font-size: 14px; margin-right: 2px; -moz-transition: width ease-in-out 0.25s, background ease-in-out 0.25s; -webkit-transition: width ease-in-out 0.25s, background ease-in-out 0.25s; -o-transition: width ease-in-out 0.25s, background ease-in-out 0.25s; transition: width ease-in-out 0.25s, background ease-in-out 0.25s;
}
.qa-search-field:focus {
	background: rgb(244, 244, 244); border: 1px solid rgb(204, 204, 204); width: 25em; color: rgb(68, 68, 68); -moz-transition: width ease-in-out 0.25s, background ease-in-out 0.25s; -webkit-transition: width ease-in-out 0.25s, background ease-in-out 0.25s; -o-transition: width ease-in-out 0.25s, background ease-in-out 0.25s; transition: width ease-in-out 0.25s, background ease-in-out 0.25s;
}
.qa-nav-user {
	margin: 8px 10px 4px 0px; color: rgb(41, 61, 57); clear: right; font-size: 12px; float: right; white-space: nowrap;
}
* html .qa-nav-user {
	margin-right: 12px;
}
.qa-nav-user-list {
	list-style: none; margin: 0px; padding: 0px; display: inline;
}
.qa-nav-user-item {
	text-transform: uppercase; font-weight: 400; margin-left: 12px; display: inline;
}
.qa-nav-user-link {
	color: rgb(59, 89, 152) !important;
}
.qa-logged-in {
	display: inline;
}
.qa-nav-main {
	background: rgb(59, 89, 152); clear: both; border-top-color: rgb(244, 244, 244); border-bottom-color: rgb(204, 204, 204); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.qa-nav-main-list {
	list-style: none; margin: 0px; padding: 0px; font-size: 16px;
}
.qa-nav-main-item {
	
}
.qa-nav-main-item-opp {
	
}
.qa-nav-main-item {
	margin: 0px; float: left;
}
.qa-nav-main-item-opp {
	padding-right: 0px; float: right;
}
.qa-nav-main-link {
	background: rgb(59, 89, 152); padding: 7px 9px; color: rgb(175, 192, 226) !important; border-right-color: rgb(75, 114, 194); border-left-color: rgb(44, 67, 114); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; display: block;
}
.qa-nav-main-link:hover {
	background: rgb(59, 89, 152); padding: 7px 9px; color: rgb(255, 255, 255) !important; text-decoration: none; border-right-color: rgb(75, 114, 194); border-left-color: rgb(44, 67, 114); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid;
}
.qa-nav-main-selected {
	background: rgb(59, 89, 152); padding: 7px 9px; color: rgb(255, 255, 255) !important; text-decoration: none; border-right-color: rgb(75, 114, 194); border-left-color: rgb(44, 67, 114); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid;
}
.qa-nav-main-hot .qa-nav-main-link {
	background: rgb(248, 0, 0); color: rgb(255, 255, 255) !important;
}
.qa-nav-sub {
	background: rgb(244, 244, 244); clear: both; border-top-color: rgb(204, 204, 204); border-bottom-color: rgb(238, 238, 238); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
* html .qa-nav-sub {
	
}
.qa-nav-sub-list {
	list-style: none; margin: 0px; padding: 0px; font-size: 11px;
}
.qa-nav-sub-item {
	padding: 0px; float: left;
}
.qa-nav-sub-link {
	padding: 3px 10px; color: rgb(170, 170, 170) !important; text-transform: uppercase; font-weight: 400; display: block;
}
.qa-nav-sub-link:hover {
	color: rgb(59, 89, 152) !important; text-decoration: underline !important;
}
.qa-nav-sub-selected {
	color: rgb(59, 89, 152) !important; text-decoration: underline !important;
}
.qa-nav-cat {
	margin: 18px 0px;
}
.qa-nav-cat-list {
	list-style: none; margin: 0px; padding: 0px;
}
.qa-nav-cat-list-1 {
	font-size: 14px;
}
.qa-nav-cat-list-2 {
	font-size: 12px; margin-left: 1em;
}
.qa-nav-cat-list-3 {
	font-size: 10px; margin-left: 1em;
}
.qa-nav-cat-list-4 {
	font-size: 9px; margin-left: 1em;
}
.qa-nav-cat-item {
	background: rgb(244, 244, 244); margin: 2px 0px; padding: 3px 6px; border: 1px solid rgb(221, 221, 221);
}
:nth-child(2n+1).qa-nav-cat-item {
	
}
:nth-child(2n).qa-nav-cat-item {
	
}
.qa-nav-cat-link {
	font-weight: 700;
}
.qa-nav-cat-selected {
	
}
.qa-nav-cat-selected:hover {
	
}
.qa-page-links {
	padding: 12px 0px; clear: both; font-size: 14px; zoom: 1;
}
.qa-page-links-label {
	display: none;
}
.qa-page-links-list {
	list-style: none; margin: 0px; padding: 0px;
}
.qa-page-links-item {
	border: 1px solid rgb(221, 221, 221); text-align: center; margin-right: 2px; float: left; display: inline;
}
.qa-page-link {
	padding: 5px 0px; color: rgb(170, 170, 170) !important; display: block;
}
.qa-page-selected {
	padding: 5px 0px; color: rgb(170, 170, 170) !important; display: block;
}
.qa-page-prev {
	padding: 5px 0px; color: rgb(170, 170, 170) !important; display: block;
}
.qa-page-next {
	padding: 5px 0px; color: rgb(170, 170, 170) !important; display: block;
}
.qa-page-ellipsis {
	padding: 5px 0px; color: rgb(170, 170, 170) !important; display: block;
}
.qa-page-link {
	width: 30px;
}
.qa-page-selected {
	width: 30px;
}
.qa-page-ellipsis {
	width: 30px;
}
.qa-page-link {
	color: rgb(170, 170, 170) !important; background-color: rgb(238, 238, 238); -moz-transition: background-color ease-in-out 0.5s; -webkit-transition: background-color ease-in-out 0.5s; -o-transition: background-color ease-in-out 0.5s; transition: background-color ease-in-out 0.5s;
}
.qa-page-selected {
	color: rgb(255, 255, 255) !important; background-color: rgb(59, 89, 152);
}
.qa-page-prev {
	padding: 5px 10px; color: rgb(170, 170, 170); background-color: rgb(238, 238, 238); -moz-transition: background-color ease-in-out 0.5s; -webkit-transition: background-color ease-in-out 0.5s; -o-transition: background-color ease-in-out 0.5s; transition: background-color ease-in-out 0.5s;
}
.qa-page-next {
	padding: 5px 10px; color: rgb(170, 170, 170); background-color: rgb(238, 238, 238); -moz-transition: background-color ease-in-out 0.5s; -webkit-transition: background-color ease-in-out 0.5s; -o-transition: background-color ease-in-out 0.5s; transition: background-color ease-in-out 0.5s;
}
.qa-page-ellipsis {
	color: rgb(102, 102, 102);
}
.qa-page-link:hover {
	color: rgb(255, 255, 255) !important; text-decoration: none; background-color: rgb(59, 89, 152); -moz-transition: background-color ease-in-out 0.15s; -o-transition: background-color ease-in-out 0.15s; transition: background-color ease-in-out 0.15s; -websit-transition: background-color ease-in-out 0.15s;
}
.qa-page-prev:hover {
	color: rgb(255, 255, 255) !important; text-decoration: none; background-color: rgb(59, 89, 152); -moz-transition: background-color ease-in-out 0.15s; -o-transition: background-color ease-in-out 0.15s; transition: background-color ease-in-out 0.15s; -websit-transition: background-color ease-in-out 0.15s;
}
.qa-page-next:hover {
	color: rgb(255, 255, 255) !important; text-decoration: none; background-color: rgb(59, 89, 152); -moz-transition: background-color ease-in-out 0.15s; -o-transition: background-color ease-in-out 0.15s; transition: background-color ease-in-out 0.15s; -websit-transition: background-color ease-in-out 0.15s;
}
.qa-form-tall-table {
	width: 100%; border-collapse: collapse;
}
.qa-form-tall-spacer {
	padding: 0px; line-height: 1px; font-size: 1px;
}
.qa-form-tall-ok {
	padding: 6px; text-align: center; color: rgb(0, 153, 0); font-size: 18px;
}
.qa-form-tall-label {
	background: rgb(244, 244, 244); padding: 8px; color: rgb(68, 68, 68); font-size: 14px; border-top-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: solid;
}
.qa-form-tall-data {
	background: rgb(244, 244, 244); padding: 8px; width: 480px;
}
.qa-form-tall-text {
	padding: 3px;
}
.qa-form-tall-number {
	padding: 3px;
}
.qa-form-tall-text {
	background: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); width: 525px; color: rgb(102, 102, 102); font-size: 16px;
}
.qa-form-tall-number {
	background: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); width: 48px;
}
.qa-form-tall-checkbox {
	margin-right: 4px; float: left;
}
.qa-form-tall-image {
	text-align: center;
}
.qa-form-tall-image img {
	background: rgb(51, 51, 51); padding: 5px; border: 1px solid rgb(68, 68, 68);
}
.qa-form-tall-suffix {
	color: rgb(102, 102, 102); font-size: 10px; font-weight: 400;
}
.qa-form-tall-error {
	color: rgb(204, 0, 0); font-size: 14px; margin-top: 6px; display: inline-block;
}
.qa-form-tall-note {
	margin-top: 6px;
}
.qa-form-tall-note a {
	color: rgb(41, 61, 57); text-decoration: underline;
}
.qa-form-tall-note a:hover {
	color: rgb(57, 110, 99);
}
.qa-form-tall-buttons {
	padding: 10px 8px 8px 0px;
}
.qa-form-tall-button {
	background: rgb(59, 89, 152); padding: 5px 10px; border: 1px solid rgb(38, 58, 99); color: rgb(255, 255, 255); font-size: 14px; cursor: pointer;
}
.qa-search-button {
	background: rgb(59, 89, 152); padding: 5px 10px; border: 1px solid rgb(38, 58, 99); color: rgb(255, 255, 255); font-size: 14px; cursor: pointer;
}
.qa-form-tall-table input[type='button'] {
	background: rgb(59, 89, 152); padding: 5px 10px; border: 1px solid rgb(38, 58, 99); color: rgb(255, 255, 255); font-size: 14px; cursor: pointer;
}
.qa-form-tall-hover {
	background: rgb(109, 134, 183); padding: 5px 10px; border: 1px solid rgb(38, 58, 99); color: rgb(255, 255, 255); font-size: 14px; cursor: pointer;
}
.qa-search-button:hover {
	background: rgb(109, 134, 183); padding: 5px 10px; border: 1px solid rgb(38, 58, 99); color: rgb(255, 255, 255); font-size: 14px; cursor: pointer;
}
.qa-form-tall-table input[type='button']:hover {
	background: rgb(109, 134, 183); padding: 5px 10px; border: 1px solid rgb(38, 58, 99); color: rgb(255, 255, 255); font-size: 14px; cursor: pointer;
}
.qa-form-wide-table {
	background: rgb(244, 244, 244); border-collapse: collapse;
}
.qa-form-wide-spacer {
	background: rgb(244, 244, 244); padding: 0px; line-height: 1px; font-size: 1px; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid;
}
.qa-form-wide-ok {
	padding: 6px; text-align: center; color: rgb(0, 153, 0); font-size: 18px;
}
.qa-form-wide-label {
	padding: 10px; color: rgb(68, 68, 68); font-size: 14px; font-weight: 400; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid; white-space: nowrap;
}
.qa-form-wide-data {
	padding: 6px 10px; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid;
}
.qa-form-wide-text {
	padding: 3px;
}
.qa-form-wide-number {
	padding: 3px;
}
.qa-form-wide-text {
	background: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); width: 320px;
}
.qa-form-wide-data input {
	background: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204) !important;
}
.qa-form-wide-number {
	background: rgb(17, 17, 17); border: 1px solid rgb(68, 68, 68); width: 48px; vertical-align: middle;
}
.qa-form-wide-error {
	color: rgb(204, 0, 0); font-size: 11px; margin-left: 6px; display: inline-block;
}
.qa-form-wide-note {
	color: rgb(170, 170, 170); font-size: 10px; margin-left: 4px;
}
.qa-form-wide-buttons {
	background: rgb(244, 244, 244); padding: 12px 0px 8px;
}
.qa-form-wide-prefix {
	font-size: 14px;
}
.qa-form-wide-button {
	background: rgb(59, 89, 152); padding: 5px 10px; border: 1px solid rgb(38, 58, 99); color: rgb(255, 255, 255); font-size: 14px; cursor: pointer;
}
.qa-form-wide-hover {
	background: rgb(109, 134, 183); padding: 5px 10px; border: 1px solid rgb(38, 58, 99); color: rgb(255, 255, 255); font-size: 14px; cursor: pointer;
}
.qa-form-light-button {
	padding: 0px; border: 0px currentColor; height: 24px; text-align: left; overflow: visible; font-size: 12px; margin-right: 6px; cursor: pointer;
}
.qa-form-light-hover {
	padding: 0px; border: 0px currentColor; height: 24px; text-align: left; overflow: visible; font-size: 12px; margin-right: 6px; cursor: pointer;
}
.qa-form-light-button {
	color: rgb(102, 102, 102);
}
.qa-form-light-hover {
	color: rgb(0, 0, 0);
}
.qa-form-light-button:hover {
	color: rgb(0, 0, 0);
}
.qa-form-light-button-edit {
	background: url("edit-icon.png") no-repeat left; padding-left: 24px;
}
.qa-form-light-hover-edit {
	background: url("edit-icon.png") no-repeat left; padding-left: 24px;
}
.qa-form-light-button-retagcat {
	background: url("edit-icon.png") no-repeat left; padding-left: 24px;
}
.qa-form-light-hover-retagcat {
	background: url("edit-icon.png") no-repeat left; padding-left: 24px;
}
.qa-form-light-button-flag {
	background: url("flag-icon.png") no-repeat left; padding-left: 24px;
}
.qa-form-light-hover-flag {
	background: url("flag-icon.png") no-repeat left; padding-left: 24px;
}
.qa-form-light-button-unflag {
	background: url("unflag-icon.png") no-repeat left; padding-left: 24px;
}
.qa-form-light-hover-unflag {
	background: url("unflag-icon.png") no-repeat left; padding-left: 24px;
}
.qa-form-light-button-clearflags {
	background: url("unflag-icon.png") no-repeat left; padding-left: 24px;
}
.qa-form-light-hover-clearflags {
	background: url("unflag-icon.png") no-repeat left; padding-left: 24px;
}
.qa-form-light-button-hide {
	background: url("hide-icon.png") no-repeat left; padding-left: 24px;
}
.qa-form-light-hover-hide {
	background: url("hide-icon.png") no-repeat left; padding-left: 24px;
}
.qa-form-light-button-follow {
	background: url("follow-icon.png") no-repeat left; padding-left: 24px;
}
.qa-form-light-hover-follow {
	background: url("follow-icon.png") no-repeat left; padding-left: 24px;
}
.qa-form-light-button-comment {
	background: url("comment-icon.png") no-repeat left; padding-left: 22px;
}
.qa-form-light-hover-comment {
	background: url("comment-icon.png") no-repeat left; padding-left: 22px;
}
.qa-form-light-button-answer {
	background: url("answer-icon.png") no-repeat left; padding-left: 26px;
}
.qa-form-light-hover-answer {
	background: url("answer-icon.png") no-repeat left; padding-left: 26px;
}
.qa-form-light-button-reshow {
	background: url("reshow-icon.png") no-repeat left; padding-left: 24px;
}
.qa-form-light-hover-reshow {
	background: url("reshow-icon.png") no-repeat left; padding-left: 24px;
}
.qa-form-light-button-claim {
	background: url("claim-icon.png") no-repeat left; padding-left: 22px;
}
.qa-form-light-hover-claim {
	background: url("claim-icon.png") no-repeat left; padding-left: 22px;
}
.qa-form-light-button-delete {
	background: url("delete-icon.png") no-repeat left; padding-left: 24px;
}
.qa-form-light-hover-delete {
	background: url("delete-icon.png") no-repeat left; padding-left: 24px;
}
.qa-form-light-button-approve {
	background: url("approve-icon.png") no-repeat left; padding-left: 24px;
}
.qa-form-light-hover-approve {
	background: url("approve-icon.png") no-repeat left; padding-left: 24px;
}
.qa-form-light-button-reject {
	background: url("reject-icon.png") no-repeat left; padding-left: 24px;
}
.qa-form-light-hover-reject {
	background: url("reject-icon.png") no-repeat left; padding-left: 24px;
}
.qa-form-light-button-close {
	background: url("close-icon.png") no-repeat left; padding-left: 24px;
}
.qa-form-light-hover-close {
	background: url("close-icon.png") no-repeat left; padding-left: 24px;
}
.qa-form-light-button-reopen {
	background: url("reopen-icon.png") no-repeat left; padding-left: 24px;
}
.qa-form-light-hover-reopen {
	background: url("reopen-icon.png") no-repeat left; padding-left: 24px;
}
.qa-form-basic-button {
	margin: 4px 4px 8px 0px; vertical-align: middle;
}
.qa-form-basic-hover {
	margin: 4px 4px 8px 0px; vertical-align: middle;
}
.qa-form-basic-button {
	background: rgb(59, 89, 152); padding: 5px 10px; border: 1px solid rgb(38, 58, 99); color: rgb(255, 255, 255); font-size: 14px; cursor: pointer;
}
.qa-form-basic-hover {
	background: rgb(109, 134, 183); padding: 5px 10px; border: 1px solid rgb(38, 58, 99); color: rgb(255, 255, 255); font-size: 14px; cursor: pointer;
}
.qa-form-basic-button:hover {
	background: rgb(109, 134, 183); padding: 5px 10px; border: 1px solid rgb(38, 58, 99); color: rgb(255, 255, 255); font-size: 14px; cursor: pointer;
}
.qa-form-basic-note {
	font-size: 11px;
}
.qa-q-list {
	border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(221, 221, 221) rgb(221, 221, 221) currentColor;
}
.qa-q-list-item {
	background: rgb(244, 244, 244); padding: 5px; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid; zoom: 1;
}
.qa-q-item-stats {
	float: left;
}
.qa-q-item-main {
	width: 498px; padding-left: 10px; float: left;
}
.qa-q-item-title {
	color: rgb(0, 0, 0); font-size: 20px;
}
.qa-q-item-title a {
	color: rgb(59, 89, 152);
}
.qa-q-item-content {
	padding: 4px; border: 1px solid rgb(204, 204, 204); font-size: 10px; margin-top: 8px; overflow-y: auto; max-height: 80px;
}
.qa-q-item-avatar {
	margin-top: 8px; margin-right: 2px; vertical-align: middle; display: inline-block;
}
.qa-q-item-meta {
	font-size: 14px; margin-top: 8px; vertical-align: middle; display: inline-block;
}
.qa-q-item-when-data {
	font-weight: 700;
}
.qa-q-item-who-title {
	color: rgb(107, 0, 0); font-size: 80%; font-weight: 700;
}
.qa-q-item-points-data {
	font-weight: 700;
}
.qa-q-item-flags {
	color: red; padding-left: 4px; font-weight: 700;
}
.qa-q-item-tags {
	margin-top: 12px;
}
.qa-q-item-tag-list {
	list-style: none; margin: 0px; padding: 0px;
}
.qa-q-item-tag-item {
	display: inline;
}
.qa-q-item-buttons {
	text-align: right;
}
.qa-suggest-next {
	background: rgb(244, 244, 244); padding: 8px; border: 1px solid rgb(221, 221, 221); text-align: center; color: rgb(68, 68, 68); clear: both; font-size: 14px;
}
.qa-suggest-next a {
	font-style: italic;
}
.qa-suggest-next a:hover {
	text-decoration: underline;
}
.qa-voting {
	background: rgb(250, 250, 250); border: 1px solid rgb(221, 221, 221); width: 90px; padding-top: 10px; margin-right: 20px; float: left;
}
.qa-vote-buttons {
	width: 90px; height: 40px; position: relative;
}
.qa-vote-up-button {
	background: url("vote-buttons.png") no-repeat; border: 0px currentColor; width: 27px; height: 29px; color: rgb(241, 201, 107); font-size: 1px;
}
.qa-vote-up-hover {
	background: url("vote-buttons.png") no-repeat; border: 0px currentColor; width: 27px; height: 29px; color: rgb(241, 201, 107); font-size: 1px;
}
.qa-vote-up-disabled {
	background: url("vote-buttons.png") no-repeat; border: 0px currentColor; width: 27px; height: 29px; color: rgb(241, 201, 107); font-size: 1px;
}
.qa-vote-up-button {
	color: rgb(241, 201, 107);
}
.qa-vote-up-disabled {
	background-position: 0px -116px; color: rgb(204, 204, 204);
}
.qa-vote-up-hover {
	background-position: 0px -29px; color: rgb(241, 201, 107);
}
.qa-vote-up-button:hover {
	background-position: 0px -29px; color: rgb(241, 201, 107);
}
.qa-vote-down-button {
	background: url("vote-buttons.png") no-repeat; border: 0px currentColor; width: 27px; height: 29px; color: rgb(241, 201, 107); font-size: 1px;
}
.qa-vote-down-hover {
	background: url("vote-buttons.png") no-repeat; border: 0px currentColor; width: 27px; height: 29px; color: rgb(241, 201, 107); font-size: 1px;
}
.qa-vote-down-disabled {
	background: url("vote-buttons.png") no-repeat; border: 0px currentColor; width: 27px; height: 29px; color: rgb(241, 201, 107); font-size: 1px;
}
.qa-vote-down-button {
	background-position: -27px 0px; color: rgb(241, 201, 107);
}
.qa-vote-down-disabled {
	background-position: -27px -116px; color: rgb(204, 204, 204);
}
.qa-vote-down-hover {
	background-position: -27px -29px; color: rgb(241, 201, 107);
}
.qa-vote-down-button:hover {
	background-position: -27px -29px; color: rgb(241, 201, 107);
}
.qa-voted-up-button {
	background: url("vote-buttons.png"); border: 0px currentColor; width: 27px; height: 29px; color: rgb(241, 201, 107); font-size: 1px;
}
.qa-voted-up-hover {
	background: url("vote-buttons.png"); border: 0px currentColor; width: 27px; height: 29px; color: rgb(241, 201, 107); font-size: 1px;
}
.qa-voted-up-button {
	background-position: 0px -87px; color: rgb(241, 201, 107);
}
.qa-voted-up-hover {
	background-position: 0px -29px; color: rgb(241, 201, 107);
}
.qa-voted-up-button:hover {
	background-position: 0px -29px; color: rgb(241, 201, 107);
}
.qa-voted-down-button {
	background: url("vote-buttons.png"); border: 0px currentColor; width: 27px; height: 29px; color: rgb(241, 201, 107); font-size: 1px;
}
.qa-voted-down-hover {
	background: url("vote-buttons.png"); border: 0px currentColor; width: 27px; height: 29px; color: rgb(241, 201, 107); font-size: 1px;
}
.qa-voted-down-button {
	background-position: -27px -87px; color: rgb(241, 201, 107);
}
.qa-voted-down-hover {
	background-position: -27px -29px; color: rgb(241, 201, 107);
}
.qa-voted-down-button:hover {
	background-position: -27px -29px; color: rgb(241, 201, 107);
}
.qa-vote-one-button {
	left: 32px; top: 0px; position: absolute;
}
.qa-vote-first-button {
	left: 10px; top: 0px; position: absolute;
}
.qa-vote-second-button {
	left: 53px; top: 0px; position: absolute;
}
.qa-netvote-count {
	text-align: center; display: block;
}
.qa-netvote-count-data {
	font-size: 28px; font-weight: 700;
}
.qa-netvote-count-pad {
	font-size: 14px;
}
.qa-upvote-count {
	width: 45px; text-align: center; float: left; display: block;
}
.qa-upvote-count-data {
	font-size: 20px; font-weight: 700; display: block;
}
.qa-upvote-count-pad {
	font-size: 12px;
}
.qa-downvote-count {
	width: 45px; text-align: center; float: left; display: block;
}
.qa-downvote-count-data {
	font-size: 20px; font-weight: 700; display: block;
}
.qa-downvote-count-pad {
	font-size: 12px;
}
.qa-a-count {
	background: url("a-count-icon.png") no-repeat 32px 13px; padding: 50px 0px 0px; width: 90px; text-align: center; margin-right: 20px; float: left;
}
.qa-a-count-data {
	font-size: 28px; font-weight: 700;
}
.qa-a-count-pad {
	font-size: 14px;
}
.qa-view-count {
	margin: 6px 8px 0px 20px; color: rgb(85, 85, 85); font-size: 11px; float: right;
}
.qa-view-count-data {
	font-weight: 700;
}
.qa-top-tags-table {
	margin-bottom: 1em; float: left; border-collapse: collapse;
}
.qa-top-tags-count {
	background: rgb(59, 89, 152); border-width: 1px; border-style: solid dashed solid solid; border-color: rgb(38, 58, 99); padding: 6px 8px 6px 12px; text-align: right; color: rgb(255, 255, 255);
}
.qa-top-tags-label {
	background: rgb(238, 238, 238); border-width: 1px 1px 1px medium; border-style: solid solid solid none; border-color: rgb(221, 221, 221) rgb(221, 221, 221) rgb(221, 221, 221) currentColor; padding: 4px 16px 0px 8px;
}
.qa-top-tags-label .qa-tag-link {
	font-weight: 400;
}
.qa-top-tags-spacer {
	padding: 0px 4px;
}
.qa-top-users-table {
	margin-bottom: 1em; float: left; border-collapse: collapse;
}
.qa-top-users-label {
	background: rgb(244, 244, 244); border-width: 1px; border-style: solid dashed solid solid; border-color: rgb(221, 221, 221) rgb(38, 58, 99) rgb(221, 221, 221) rgb(221, 221, 221); padding: 6px 16px 6px 12px; text-align: left;
}
.qa-top-users-score {
	background: rgb(59, 89, 152); border-width: 1px; border-style: solid solid solid none; border-color: rgb(38, 58, 99); padding: 6px 12px; text-align: right; color: rgb(255, 255, 255);
}
.qa-top-users-spacer {
	padding: 0px 4px;
}
.qa-browse-cat-list {
	list-style: none; margin: 0px; padding: 0px; -moz-column-count: 3; -moz-column-gap: 10px; -webkit-column-count: 3; -webkit-column-gap: 10px; column-count: 3; column-gap: 20px;
}
.qa-browse-cat-list-1 {
	font-size: 18px;
}
.qa-browse-cat-list-2 {
	font-size: 16px;
}
.qa-browse-cat-list-3 {
	font-size: 14px;
}
.qa-browse-cat-list-4 {
	font-size: 12px;
}
.qa-browse-cat-item {
	background: rgb(238, 238, 238); margin: 10px 2px; padding: 5px 10px; border: 1px solid rgb(221, 221, 221); color: rgb(59, 89, 152); font-weight: 700;
}
.qa-browse-cat-item:hover {
	background: rgb(244, 244, 244);
}
.qa-browse-cat-closed {
	list-style: square; color: rgb(134, 167, 179);
}
.qa-browse-cat-open {
	list-style: square; color: rgb(38, 67, 77);
}
.qa-browse-cat-link {
	color: rgb(38, 67, 77); font-weight: 700; text-decoration: none;
}
.qa-browse-cat-note {
	color: rgb(108, 123, 128); font-size: 85%; font-weight: 400;
}
.qa-browse-cat-note a {
	color: rgb(30, 85, 104);
}
.qa-q-view {
	padding-top: 10px; padding-left: 10px;
}
.qa-q-view-main {
	width: 550px; padding-left: 10px; float: left;
}
.qa-q-view-content {
	font-size: 13px; margin-bottom: 16px;
}
.qa-q-view-avatar {
	margin-right: 8px; vertical-align: middle; display: inline-block;
}
.qa-q-view-meta {
	font-size: 12px; vertical-align: middle; display: inline-block;
}
.qa-q-view-follows {
	font-size: 14px; margin-bottom: 12px;
}
.qa-q-view-closed {
	font-size: 14px; margin-bottom: 18px;
}
.qa-q-view-closed-content {
	font-weight: 700;
}
.qa-q-view-extra {
	font-size: 14px; margin-bottom: 18px;
}
.qa-q-view-extra-content {
	font-weight: 700;
}
.qa-q-view-when-data {
	font-weight: 700;
}
.qa-q-view-who-title {
	color: rgb(107, 0, 0); font-size: 80%; font-weight: 700;
}
.qa-q-view-points-data {
	font-weight: 700;
}
.qa-q-view-flags {
	color: red; padding-left: 4px; font-weight: 700;
}
.qa-q-view-tags {
	clear: both; margin-bottom: 12px;
}
.qa-q-view-tag-list {
	list-style: none; margin: 0px; padding: 0px;
}
.qa-q-view-tag-item {
	display: inline;
}
.qa-q-view-buttons {
	margin-top: 16px;
}
.qa-q-view-c-list {
	margin: 24px 0px 0px 24px; clear: both; border-top-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: solid;
}
.qa-q-view-hidden .qa-voting {
	color: rgb(204, 204, 204);
}
.qa-q-view-hidden .qa-q-view-content {
	color: rgb(153, 153, 153);
}
.qa-q-view-hidden .qa-q-view-meta {
	color: rgb(204, 204, 204);
}
.qa-q-view-hidden .qa-user-link {
	color: rgb(153, 153, 153);
}
.qa-q-view-hidden .qa-q-view-who-title {
	color: rgb(153, 153, 153);
}
.qa-q-view-hidden .qa-category-link {
	color: rgb(153, 153, 153);
}
.qa-q-view-hidden .qa-tag-link {
	color: rgb(204, 204, 204);
}
.qa-a-list-item {
	background: rgb(255, 255, 255); padding: 10px; border: 1px solid rgb(238, 238, 238); margin-bottom: 10px; position: relative; zoom: 1;
}
.qa-a-list-item-selected {
	background: rgb(238, 238, 238) !important; border: 1px solid rgb(81, 144, 35);
}
.qa-a-list-item-hidden .qa-voting {
	color: rgb(204, 204, 204);
}
.qa-a-list-item-hidden .qa-a-item-content {
	color: rgb(153, 153, 153);
}
.qa-a-list-item-hidden .qa-a-item-what {
	color: rgb(204, 204, 204);
}
.qa-a-list-item-hidden .qa-a-item-meta {
	color: rgb(204, 204, 204);
}
.qa-a-list-item-hidden .qa-a-item-who-title {
	color: rgb(153, 153, 153);
}
.qa-a-list-item-hidden .qa-user-link {
	color: rgb(153, 153, 153);
}
.qa-a-item-main {
	width: 535px; padding-left: 10px; float: left; display: inline-block;
}
.qa-a-item-content {
	font-size: 13px; margin-bottom: 16px;
}
.qa-a-item-avatar {
	margin-right: 8px; vertical-align: middle; display: inline-block;
}
.qa-a-item-meta {
	font-size: 12px; vertical-align: middle; display: inline-block;
}
.qa-a-item-when-data {
	font-weight: 700;
}
.qa-a-item-who-title {
	color: rgb(107, 0, 0); font-size: 80%; font-weight: 700;
}
.qa-a-item-points-data {
	font-weight: 700;
}
.qa-a-item-flags {
	color: red; padding-left: 4px; font-weight: 700;
}
.qa-a-item-buttons {
	margin-top: 16px;
}
.qa-a-item-c-list {
	margin: 24px 0px 0px 24px; clear: both; border-top-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: solid;
}
.qa-a-selection {
	width: 60px; text-align: center; right: 10px; position: absolute;
}
.qa-a-select-button {
	background: url("select-star.png") no-repeat; border: 0px currentColor; width: 50px; height: 49px;
}
.qa-a-select-hover {
	background: url("select-star.png") no-repeat; border: 0px currentColor; width: 50px; height: 49px;
}
.qa-a-select-button {
	background-position: 0px -49px;
}
.qa-a-select-hover {
	background-position: 0px -98px;
}
.qa-a-select-button:hover {
	background-position: 0px -98px;
}
.qa-a-unselect-button {
	background: url("selected-star.png") no-repeat; border: 0px currentColor; width: 50px; height: 49px;
}
.qa-a-unselect-hover {
	background: url("selected-star.png") no-repeat; border: 0px currentColor; width: 50px; height: 49px;
}
.qa-a-unselect-button {
	
}
.qa-a-unselect-hover {
	background-position: 0px -49px;
}
.qa-a-unselect-button:hover {
	background-position: 0px -49px;
}
.qa-a-selected {
	background: url("selected-star.png") no-repeat 0px 0px; margin: 0px auto; width: 50px; height: 49px;
}
.qa-a-selected-text {
	color: rgb(115, 166, 81); font-size: 10px; font-weight: 700; margin-top: 6px; display: block;
}
.qa-c-list-item {
	padding: 8px 0px 8px 8px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
.qa-c-item-hidden .qa-c-item-content {
	color: rgb(187, 187, 187);
}
.qa-c-item-hidden .qa-c-item-link {
	color: rgb(170, 170, 255);
}
.qa-c-item-hidden .qa-c-item-what {
	color: rgb(204, 204, 204);
}
.qa-c-item-hidden .qa-c-item-meta {
	color: rgb(204, 204, 204);
}
.qa-c-item-hidden .qa-c-item-who-title {
	color: rgb(153, 153, 153);
}
.qa-c-item-hidden .qa-user-link {
	color: rgb(153, 153, 153);
}
.qa-c-item-link {
	margin-bottom: 6px; display: block;
}
.qa-c-item-expand {
	margin: 2px 0px; color: rgb(102, 102, 102); font-style: italic; display: block;
}
.qa-c-item-content {
	color: rgb(102, 102, 102); margin-bottom: 6px; display: block;
}
.qa-c-item-footer {
	height: 1%; position: relative;
}
.qa-c-item-avatar {
	margin-right: 4px; vertical-align: middle; display: inline-block;
}
.qa-c-item-meta {
	color: rgb(102, 102, 102); font-size: 10px; vertical-align: middle; display: inline-block;
}
.qa-c-item-who-title {
	color: rgb(107, 0, 0); font-size: 80%; font-weight: 700;
}
.qa-c-item-who-points {
	display: none;
}
.qa-c-item-flags {
	color: red; padding-left: 3px; font-weight: 700;
}
.qa-c-item-buttons {
	right: 0px; bottom: 0px; display: block; position: absolute;
}
.qa-c-item-buttons .qa-form-light-button {
	padding: 0px; height: auto; font-size: 10px;
}
.qa-c-item-buttons .qa-form-light-hover {
	padding: 0px; height: auto; font-size: 10px;
}
.qa-related-qs {
	font-size: 14px;
}
.qa-related-qs h2 {
	font-size: 18px;
}
.qa-related-q-list {
	padding: 0px; list-style-type: none;
}
.qa-related-q-item {
	margin: 0.5em 0px;
}
.qa-activity-count {
	color: rgb(119, 119, 119); font-size: 14px;
}
.qa-activity-count-item {
	margin: 0.5em 0px;
}
.qa-activity-count-data {
	font-size: 24px; font-weight: 700;
}
.qa-nav-footer-list {
	margin: 0px; padding: 0px; float: right; list-style-type: none;
}
.footer-copyright {
	float: left;
}
.footer-copyright p {
	display: inline-block;
}
.footer-credit {
	margin-right: 12px; float: right; display: inline-block;
}
.qa-nav-footer-item {
	margin: 0px 12px; float: left;
}
.qa-nav-footer-link {
	
}
.qa-nav-footer-link:hover {
	
}
.qa-attribution {
	float: right;
}
.qa-attribution a {
	
}
.qa-attribution a:hover {
	
}
.qa-user-link {
	color: rgb(59, 89, 152) !important; font-weight: 700;
}
.qa-category-link {
	color: rgb(30, 85, 104); font-weight: 700;
}
.qa-tag-link {
	background: url("tag-icon.png") no-repeat left; height: 16px; padding-left: 18px; font-size: 12px; text-decoration: none !important; margin-right: 4px; margin-bottom: 3px; vertical-align: middle;
}
.qa-tag-link:hover {
	text-decoration: underline !important;
}
.qa-avatar-image {
	border: 0px currentColor; vertical-align: middle;
}
.qa-avatar-link {
	text-decoration: none;
}
.qa-avatar-link:hover {
	text-decoration: none;
}
.qa-favorite-image {
	background: url("favorite-heart.png") no-repeat 0px -24px; border: 0px currentColor; width: 24px; height: 24px; vertical-align: middle; display: inline-block;
}
* html .qa-form-light-button-edit {
	background: url("edit-icon-ie6.png") no-repeat left;
}
* html .qa-form-light-hover-edit {
	background: url("edit-icon-ie6.png") no-repeat left;
}
* html .qa-form-light-button-retagcat {
	background: url("edit-icon-ie6.png") no-repeat left;
}
* html .qa-form-light-hover-retagcat {
	background: url("edit-icon-ie6.png") no-repeat left;
}
* html .qa-form-light-button-flag {
	background: url("flag-icon-ie6.png") no-repeat left;
}
* html .qa-form-light-hover-flag {
	background: url("flag-icon-ie6.png") no-repeat left;
}
* html .qa-form-light-button-unflag {
	background: url("unflag-icon-ie6.png") no-repeat left;
}
* html .qa-form-light-hover-unflag {
	background: url("unflag-icon-ie6.png") no-repeat left;
}
* html .qa-form-light-button-clearflags {
	background: url("unflag-icon-ie6.png") no-repeat left;
}
* html .qa-form-light-hover-clearflags {
	background: url("unflag-icon-ie6.png") no-repeat left;
}
* html .qa-form-light-button-hide {
	background: url("hide-icon-ie6.png") no-repeat left;
}
* html .qa-form-light-hover-hide {
	background: url("hide-icon-ie6.png") no-repeat left;
}
* html .qa-form-light-button-follow {
	background: url("follow-icon-ie6.png") no-repeat left;
}
* html .qa-form-light-hover-follow {
	background: url("follow-icon-ie6.png") no-repeat left;
}
* html .qa-form-light-button-comment {
	background: url("comment-icon-ie6.png") no-repeat left;
}
* html .qa-form-light-hover-comment {
	background: url("comment-icon-ie6.png") no-repeat left;
}
* html .qa-form-light-button-answer {
	background: url("answer-icon-ie6.png") no-repeat left;
}
* html .qa-form-light-hover-answer {
	background: url("answer-icon-ie6.png") no-repeat left;
}
* html .qa-form-light-button-reshow {
	background: url("reshow-icon-ie6.png") no-repeat left;
}
* html .qa-form-light-hover-reshow {
	background: url("reshow-icon-ie6.png") no-repeat left;
}
* html .qa-form-light-button-claim {
	background: url("claim-icon-ie6.png") no-repeat left;
}
* html .qa-form-light-hover-claim {
	background: url("claim-icon-ie6.png") no-repeat left;
}
* html .qa-form-light-button-delete {
	background: url("delete-icon-ie6.png") no-repeat left;
}
* html .qa-form-light-hover-delete {
	background: url("delete-icon-ie6.png") no-repeat left;
}
* html .qa-vote-up-button {
	background: url("vote-buttons-ie6.png") no-repeat 0px 0px;
}
* html .qa-vote-up-hover {
	background: url("vote-buttons-ie6.png") no-repeat 0px -29px;
}
* html .qa-vote-up-disabled {
	background: url("vote-buttons-ie6.png") no-repeat 0px -116px;
}
* html .qa-vote-down-button {
	background: url("vote-buttons-ie6.png") no-repeat -27px 0px;
}
* html .qa-vote-down-hover {
	background: url("vote-buttons-ie6.png") no-repeat -27px -29px;
}
* html .qa-vote-down-disabled {
	background: url("vote-buttons-ie6.png") no-repeat -27px -116px;
}
* html .qa-voted-up-button {
	background: url("vote-buttons-ie6.png") no-repeat 0px -87px;
}
* html .qa-voted-up-hover {
	background: url("vote-buttons-ie6.png") no-repeat 0px -29px;
}
* html .qa-voted-down-button {
	background: url("vote-buttons-ie6.png") no-repeat -27px -87px;
}
* html .qa-voted-down-hover {
	background: url("vote-buttons-ie6.png") no-repeat -27px -29px;
}
* html .qa-tag-link {
	background: url("tag-icon-ie6.png") no-repeat left;
}
* html .qa-a-count {
	background: url("a-count-icon-ie6.png") no-repeat 32px 13px;
}
div h2 a:link {
	color: rgb(204, 204, 204);
}
div h2 a:active {
	color: rgb(204, 204, 204);
}
div h2 a:visited {
	color: rgb(204, 204, 204);
}
div h2 a:hover {
	color: rgb(204, 204, 204);
}
