/*
	Question2Answer (c) Gideon Greenspan

	http://www.question2answer.org/

	
	File: qa-theme/Candy/qa-styles.css
	Version: See define()s at top of qa-include/qa-base.php
	Description: CSS file for included Candy theme


	This program is free software; you can redistribute it and/or
	modify it under the terms of the GNU General Public License
	as published by the Free Software Foundation; either version 2
	of the License, or (at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	More about this license: http://www.question2answer.org/license.php


	Theme URI: http://portfolio.pixelngrain.com/downloads/templates/question2answer-themes/
	Theme Version: L1.00
	Theme Date: 2011-12-14
	Theme Author: Pixel n Grain - Jatin Soni
	Theme Author URI: http:///portfolio.pixelngrain.com
	Theme License: GPLv2
	Theme Update Check URI: http://portfolio.pixelngrain.com/downloads/templates/question2answer-themes/

 General page layout */

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
.clearfix { display: inline-table; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */ 

body {
background:#eee url(bg.jpg)repeat;
text-align:center;
margin:0;
padding:0;
}


body,td,input,textarea {
font-size:12px;
font-family:"Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
color:#444;
}

a:link, a:active, a:visited {
text-decoration:none;
color:#3B5998;
}

a:hover {
color:#3B5998;
text-decoration:underline;
}

.qa-q-view-follows{
background:#000;
padding:2px 5px;
}

.qa-q-view-follows-link{
color:#ebb100 !important;
}

/*table {border-collapse:collapse;}*/
input {
outline:none;
}

input[type="submit"]{
cursor:pointer;
}

select{
background:#fff;
color:#666;
border:1px solid #ccc;
padding:2px 0 2px 2px;
}

p {
margin-top:0;
}

.qa-notice {
background:#ebc5e2 url(suggest-bg.png) repeat-x left bottom;
border-bottom:1px solid #597700;
color:#5c0045;
font-size:14px;
font-weight:700;
position:relative;
padding:12px 32px;
}

.qa-notice-close-button,.qa-notice-close-hover {
font-family:"Arial Black";
color:#5c0045;
font-size:18px;
background:none;
cursor:pointer;
position:absolute;
height:24px;
border:none;
top:4px;
right:6px;
}

.qa-body-wrapper {
background:#fff;
border-radius:10px;
border-style:solid;
border-width:2px;
border-color:#ddd #ddd #ccc #ddd;
width:980px;
text-align:left;
margin:30px auto 0;
-moz-box-shadow:0 0 15px rgba(0, 0, 0, 0.1);
}

/* Clearing classes */
.qa-nav-main-clear,.qa-nav-sub-clear,.qa-q-item-clear,.qa-q-view-clear,.qa-a-item-clear,.qa-c-item-clear,.qa-footer-clear,.qa-page-links-clear {
clear:both;
}



/* Headings */
h1 {
color:#3B5998;
font-size:22px;
font-weight:700;
margin:1em 0 0.5em;
}

h2 {
font-size:16px;
color:#fff;
padding:6px;
clear:both;
background:#3B5998;
}

blockquote{
background:#444;
padding:15px;
margin:30px auto;
border:1px solid #777;
font-family:'Times New Roman', Georgia;
font-size:22px;
font-style:italic;
color:#777;
position:relative;

-moz-transition:color ease-in-out 0.25s;
-webkit-transition:color ease-in-out 0.25s;
-o-transition:color ease-in-out 0.25s;
transition:color ease-in-out 0.25s;

}

blockquote:hover{
color:#ccc;

-moz-transition:color ease-in-out 0.25s;
-webkit-transition:color ease-in-out 0.25s;
-o-transition:color ease-in-out 0.25s;
transition:color ease-in-out 0.25s;
}

blockquote p{
margin:0;
padding:0;
}

.entry-title{
color:#3B5998;
background:url(question.png)no-repeat left;
padding-left:30px;
}

.qa-favoriting {
float:right;
margin-right:8px;
}

.qa-favorite-button,.qa-favorite-hover,.qa-unfavorite-button,.qa-unfavorite-hover {
background:url(favorite-heart.png) no-repeat;
border:0;
height:24px;
width:24px;
}

.qa-favorite-button {
background-position:0 -24px;
}

.qa-favorite-hover,.qa-favorite-button:hover {
background-position:0 0;
}

.qa-unfavorite-button {
background-position:0 -48px;
}

.qa-unfavorite-hover,.qa-unfavorite-button:hover {
background-position:0 0;
}

.qa-error {
background:#fed8d8 url(error-bg.png) repeat-x left top;
border:2px solid #c00;
color:#c00;
font-size:18px;
margin:1em 0;
padding:.5em;
}

.qa-error a {
color:#900;
text-decoration:underline;
}

.qa-error a:hover {
color:red;
}

/* Page sections */
.qa-header {
position:relative;
}

.qa-sidepanel {
float:right;
width:176px;
padding:10px;
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: #f4f4f4; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0ZjRmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #f4f4f4 0%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f4f4f4 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f4f4f4 0%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f4f4f4 0%,#ffffff 100%); /* IE10+ */
background: linear-gradient(top,  #f4f4f4 0%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */

}

.qa-sidebar {
font-size:14px;
margin:18px 0;
}

.qa-feed {
background:url(feed-icon-14x14.png) no-repeat left 1px;
padding-left:20px;
margin:18px 12px 18px 0;
}

.qa-feed-link {
font-size:12px;
color:#666;
}

.qa-main {
padding-left:20px;
float:left;
width:742px;
margin-bottom:24px;
clear:left;
overflow:hidden;
}

.qa-main-hidden h1 {
color:#999;
}

.qa-footer {
clear:both;
background:#3B5998;
color:#afc0e2 ;
font-size:10px;
padding:10px;
border-radius:0 0 10px 10px;
}

.qa-footer a, .qa-footer a:visited{
color:#afc0e2;
text-decoration:underline;
}

.qa-footer a:hover{
color:#fff;
}

.qa-footer p{
margin:0;
}

* html .qa-footer {
padding-top:6px;
}

/* IE6 
 Widget wrappers */
.qa-widget-full {
clear:both;
/* width:920px; */
margin:12px 20px;
}

.qa-widget-full-high {
margin-bottom:0;
}

.qa-widgets-main-high {
margin-bottom:24px;
}

.qa-widget-main {
width:748px;
margin:16px 0;
}

.qa-widget-main-bottom {
margin-bottom:0;
}

.qa-widget-side {
/* width:160px; */
margin:24px 0;
}

/* Header sections */
.qa-logo {
float:left;
margin-bottom:16px;
padding-left:20px;
padding-top:10px;
font-size:38px;
font-weight:700;
}

.qa-logo-link,.qa-logo-link:hover {

}

.qa-search {
float:right;
/* background:#efecb2;
border:2px solid #c0b600;
border-top:0; */
margin-right:10px;
white-space:nowrap;
padding:10px;
}

* html .qa-search {
margin-right:6px;
}

/* IE6 */
.qa-search form {
margin:0;
}

/* IE6/7 */
.qa-search-field {
width:12.6em;
background:#fff;
border:1px solid #ccc;
color:#666;
height:24px;
font-size:14px;
padding:4px;
margin-right:2px;
-moz-transition:width ease-in-out 0.25s, background ease-in-out 0.25s;
-webkit-transition:width ease-in-out 0.25s, background ease-in-out 0.25s;
-o-transition:width ease-in-out 0.25s, background ease-in-out 0.25s;
transition:width ease-in-out 0.25s, background ease-in-out 0.25s;
}

.qa-search-field:focus {
width:40em;
background:#f4f4f4;
color:#444;
border:1px solid #ccc;
-moz-transition:width ease-in-out 0.25s, background ease-in-out 0.25s;
-webkit-transition:width ease-in-out 0.25s, background ease-in-out 0.25s;
-o-transition:width ease-in-out 0.25s, background ease-in-out 0.25s;
transition:width ease-in-out 0.25s, background ease-in-out 0.25s;
}

.qa-nav-user {
float:right;
clear:right;
font-size:12px;
color:#293D39;
white-space:nowrap;
margin:8px 10px 4px 0;
}

* html .qa-nav-user {
margin-right:12px;
}

/* IE6 */
.qa-nav-user-list {
list-style:none;
display:inline;
margin:0;
padding:0;
}

.qa-nav-user-item {
display:inline;
margin-left:12px;
font-weight:400;
text-transform:uppercase;
}

.qa-nav-user-link {
color:#3B5998 !important;
}

.qa-logged-in {
display:inline;
}

/* Main, sub and category navigation */
.qa-nav-main {
clear:both;
background:#3B5998;

border-top:1px solid #f4f4f4;
border-bottom:1px solid #ccc;
}

.qa-nav-main-list {
font-size:16px;
list-style:none;
margin:0;
padding:0;
}

.qa-nav-main-item,.qa-nav-main-item-opp {
/* background:#000 *//*  url(nav-main-bg.png) repeat-x left top */;
}

.qa-nav-main-item {
float:left;
margin:0;
}

.qa-nav-main-item-opp {
float:right;
padding-right:0;
}

.qa-nav-main-link {
background:#3B5998;

color:#afc0e2 !important;
display:block;
padding:7px 9px;
border-left:1px solid #2c4372;
border-right:1px solid #4b72c2;
}

.qa-nav-main-link:hover,.qa-nav-main-selected {
background: #3B5998;

color:#fff !important;
text-decoration:none;
padding:7px 9px;
border-left:1px solid #2c4372;
border-right:1px solid #4b72c2;
}

.qa-nav-main-hot .qa-nav-main-link {
color:#fff !important;
background:#F80000;

}

.qa-nav-sub {
clear:both;
background:#f4f4f4;
border-top:1px solid #ccc;
border-bottom:1px solid #eee;
}

* html .qa-nav-sub {
background:none;
}

/* IE6 since z-order goes wrong */
.qa-nav-sub-list {
font-size:11px;
list-style:none;
margin:0;
padding:0;
}

.qa-nav-sub-item {
float:left;
padding:0;
}

.qa-nav-sub-link {
color:#aaa !important;
font-weight:400;
display:block;
text-transform:uppercase;
padding:3px 10px;
}

.qa-nav-sub-link:hover,.qa-nav-sub-selected {
color:#3B5998 !important;
text-decoration:underline !important;
}

.qa-nav-cat {
margin:18px 0;
}

.qa-nav-cat-list {
list-style:none;
margin:0;
padding:0;
}

.qa-nav-cat-list-1 {
font-size:14px;
}

.qa-nav-cat-list-2 {
font-size:12px;
margin-left:1em;
}

.qa-nav-cat-list-3 {
font-size:10px;
margin-left:1em;
}

.qa-nav-cat-list-4 {
font-size:9px;
margin-left:1em;
}

.qa-nav-cat-item {
margin:2px 0;
background:#f4f4f4;
padding:3px 6px;
border:1px solid #ddd;
}

.qa-nav-cat-item:nth-child(odd){

}

.qa-nav-cat-item:nth-child(even){
}

.qa-nav-cat-link {
font-weight:700;
}

.qa-nav-cat-selected,.qa-nav-cat-selected:hover {

}

/* Pagination */
.qa-page-links {
font-size:14px;
clear:both;
zoom:1px;
padding:12px 0;
}

/* zoom:1 for IE6 */
.qa-page-links-label {
display:none;
}

.qa-page-links-list {
list-style:none;
margin:0;
padding:0;
}

.qa-page-links-item {
text-align:center;
border:1px solid #ddd;
margin-right:2px;
float:left;
display:inline;
}

.qa-page-link,.qa-page-selected,.qa-page-prev,.qa-page-next,.qa-page-ellipsis {
display:block;
padding:5px 0;
color:#aaa !important;
}

.qa-page-link,.qa-page-selected,.qa-page-ellipsis {
width:30px;
}

.qa-page-link {
color:#aaa !important;
background-color:#eee;

-moz-transition:background-color ease-in-out 0.5s;
}

.qa-page-selected {
color:#fff !important;
background-color:#3B5998 ;

}

.qa-page-prev,.qa-page-next {
color:#aaa;
background-color:#eee;
width:60px;

-moz-transition:background-color ease-in-out 0.5s;
}

.qa-page-ellipsis {
color:#666;
}

.qa-page-link:hover,.qa-page-prev:hover,.qa-page-next:hover {
text-decoration:none;
background-color:#3B5998;
color:#fff !important;

-moz-transition:background-color ease-in-out 0.15s;
}

/* Standard form (tall version) */
.qa-form-tall-table {
width:100%;
border-collapse:collapse;
}

.qa-form-tall-spacer {
line-height:1px;
font-size:1px;
padding:0;
}

.qa-form-tall-ok {
color:#090;
font-size:18px;
text-align:center;
padding:6px;
}

.qa-form-tall-label {
background:#f4f4f4;
border-top:1px solid #ddd;
color:#444;
font-size:14px;
padding:8px;
}

.qa-form-tall-data {
background:#f4f4f4;
width:480px;
padding:8px;
}

.qa-form-tall-text,.qa-form-tall-number {
padding:3px;
}

.qa-form-tall-text {
background:#fff;
color:#666;
width:525px;
border:1px solid #ccc;
font-size:16px;
}

.qa-form-tall-number {
width:48px;
background:#fff;
border:1px solid #ccc;
}

.qa-form-tall-checkbox {
float:left;
margin-right:4px;
}

.qa-form-tall-image {
text-align:center;
}

.qa-form-tall-image img {
padding:5px;
background:#333;
border:1px solid #444;
}

.qa-form-tall-suffix {
font-weight:400;
font-size:10px;
color:#666;
}

.qa-form-tall-error {
color:#c00;
font-size:14px;
margin-top:6px;
display:inline-block;
}

.qa-form-tall-note {
margin-top:6px;
}

.qa-form-tall-note a {
color:#293D39;
text-decoration:underline;
}

.qa-form-tall-note a:hover {
color:#396E63;
}

.qa-form-tall-buttons {
/* text-align:center; */
padding:10px 8px 8px 0;
}

.qa-form-tall-button, .qa-search-button, .qa-form-tall-table input[type="button"] {
background:#3B5998;

color:#fff;
font-size:14px;
border:1px solid #263a63;
padding:5px 10px;
cursor:pointer;
}

.qa-form-tall-hover, .qa-search-button:hover, .qa-form-tall-table input[type="button"]:hover {
background: #6D86B7;

color:#fff;
font-size:14px;
border:1px solid #263A63;
padding:5px 10px;
cursor:pointer;
}

/* Standard form (wide version) */
.qa-form-wide-table {
background:#f4f4f4;
border-collapse:collapse;
}

.qa-form-wide-spacer {
line-height:1px;
font-size:1px;
border-bottom:1px solid #ddd;
background:#f4f4f4;
padding:0;
}

.qa-form-wide-ok {
color:#090;
font-size:18px;
text-align:center;
padding:6px;
}

.qa-form-wide-label {
border-bottom:1px solid #ddd;
color:#444;
font-size:14px;
font-weight:400;
white-space:nowrap;
padding:10px;
}

.qa-form-wide-data {
border-bottom:1px solid #ddd;
padding:6px 10px;
}

.qa-form-wide-text,.qa-form-wide-number {
padding:3px;
}

.qa-form-wide-text {
background:#fff;
width:320px;
border:1px solid #ccc;
}

.qa-form-wide-data input{
background:#fff;
border:1px solid #ccc !important;
}

.qa-form-wide-number {
width:48px;
background:#111;
border:1px solid #444;
vertical-align:middle;
}

.qa-form-wide-error {
display:inline-block;
color:#c00;
font-size:11px;
margin-left:6px;
}

.qa-form-wide-note {
font-size:10px;
margin-left:4px;
color:#aaa;
}

.qa-form-wide-buttons {
background:#f4f4f4;
padding:12px 0 8px;
}

.qa-form-wide-prefix {
font-size:14px;
}

.qa-form-wide-button {
background:#3B5998;

color:#fff;
font-size:14px;
border:1px solid #263A63;
padding:5px 10px;
cursor:pointer;
}

.qa-form-wide-hover {
background:#6D86B7;

color:#fff;
font-size:14px;
border:1px solid #263A63;
padding:5px 10px;
cursor:pointer;
}

/* Standard form (light version - buttons only) */
.qa-form-light-button,.qa-form-light-hover {
background:none;
border:0;
height:24px;
cursor:pointer;
margin-right:6px;
font-size:12px;
text-align:left;
overflow:visible;
padding:0;
}

/* overflow:visible for IE */
.qa-form-light-button {
color:#666;
}

.qa-form-light-hover,.qa-form-light-button:hover {
color:#000;
}

.qa-form-light-button-edit,.qa-form-light-hover-edit,.qa-form-light-button-retagcat,.qa-form-light-hover-retagcat {
background:url(edit-icon.png) no-repeat left center;
padding-left:24px;
}

.qa-form-light-button-flag,.qa-form-light-hover-flag {
background:url(flag-icon.png) no-repeat left center;
padding-left:24px;
}

.qa-form-light-button-unflag,.qa-form-light-hover-unflag,.qa-form-light-button-clearflags,.qa-form-light-hover-clearflags {
background:url(unflag-icon.png) no-repeat left center;
padding-left:24px;
}

.qa-form-light-button-hide,.qa-form-light-hover-hide {
background:url(hide-icon.png) no-repeat left center;
padding-left:24px;
}

.qa-form-light-button-follow,.qa-form-light-hover-follow {
background:url(follow-icon.png) no-repeat left center;
padding-left:24px;
}

.qa-form-light-button-comment,.qa-form-light-hover-comment {
background:url(comment-icon.png) no-repeat left center;
padding-left:22px;
}

.qa-form-light-button-answer,.qa-form-light-hover-answer {
background:url(answer-icon.png) no-repeat left center;
padding-left:26px;
}

.qa-form-light-button-reshow,.qa-form-light-hover-reshow {
background:url(reshow-icon.png) no-repeat left center;
padding-left:24px;
}

.qa-form-light-button-claim,.qa-form-light-hover-claim {
background:url(claim-icon.png) no-repeat left center;
padding-left:22px;
}

.qa-form-light-button-delete,.qa-form-light-hover-delete {
background:url(delete-icon.png) no-repeat left center;
padding-left:24px;
}

.qa-form-light-button-approve,.qa-form-light-hover-approve {
background:url(approve-icon.png) no-repeat left center;
padding-left:24px;
}

.qa-form-light-button-reject,.qa-form-light-hover-reject {
background:url(reject-icon.png) no-repeat left center;
padding-left:24px;
}

.qa-form-light-button-close,.qa-form-light-hover-close {
background:url(close-icon.png) no-repeat left center;
padding-left:24px;
}

.qa-form-light-button-reopen,.qa-form-light-hover-reopen {
background:url(reopen-icon.png) no-repeat left center;
padding-left:24px;
}

/* Standard form (basic version - buttons only) */
.qa-form-basic-button,.qa-form-basic-hover {
vertical-align:middle;
margin:4px 4px 8px 0;
}

.qa-form-basic-button {
background:#3B5998;

color:#fff;
font-size:14px;
border:1px solid #263a63;
padding:5px 10px;
cursor:pointer;
}

.qa-form-basic-hover,.qa-form-basic-button:hover {
background:#6D86B7;

color:#fff;
font-size:14px;
border:1px solid #263a63;
padding:5px 10px;
cursor:pointer;
}

.qa-form-basic-note {
font-size:11px;
}

/* Question list */
.qa-q-list{
border:1px solid #ddd;
border-bottom:none;
}

.qa-q-list-item {
background:#f4f4f4;
zoom:1px;
padding:5px;
border-bottom:1px solid #ddd;
}

/* zoom for IE, padding for early FF */
.qa-q-item-stats {
float:left;
}

.qa-q-item-main {
width:498px;
float:left;
padding-left:10px;
}

.qa-q-item-title {
color:#000;
font-size:20px;
}

.qa-q-item-title a {
color:#3B5998;
}

.qa-q-item-content {
font-size:10px;
margin-top:8px;
max-height:80px;
overflow-y:auto;
border:1px solid #ccc;
padding:4px;
}

.qa-q-item-avatar {
display:inline-block;
vertical-align:middle;
margin-top:8px;
margin-right:2px;
}

.qa-q-item-meta {
display:inline-block;
vertical-align:middle;
margin-top:8px;
font-size:14px;
}

.qa-q-item-when-data {
font-weight:700;
}

.qa-q-item-who-title {
font-size:80%;
font-weight:700;
color:#6b0000;
}

.qa-q-item-points-data {
font-weight:700;
}

.qa-q-item-flags {
color:red;
font-weight:700;
padding-left:4px;
}

.qa-q-item-tags {
margin-top:12px;
}

.qa-q-item-tag-list {
list-style:none;
margin:0;
padding:0;
}

.qa-q-item-tag-item {
display:inline;
}

.qa-q-item-buttons {
text-align:right;
}

.qa-suggest-next {
background:#f4f4f4;
border:1px solid #ddd;
color:#444;
font-size:14px;
text-align:center;
clear:both;
padding:8px;
}

.qa-suggest-next a {
font-style:italic;
}

.qa-suggest-next a:hover {
text-decoration:underline;
}

/* Votes 
 qa-*-hover classes are substituted by JS (for IE), qa-*-button:hover is a backup for other browsers if JS is off */
.qa-voting {
background:#fafafa;
border:1px solid #ddd;
float:left;
width:90px;
margin-right:20px;
padding-top:10px;
}

.qa-vote-buttons {
position:relative;
height:40px;
width:90px;
}

.qa-vote-up-button,.qa-vote-up-hover,.qa-vote-up-disabled {
background:url(vote-buttons.png) no-repeat;
border:0;
color:#f1c96b;
font-size:1px;
height:29px;
width:27px;
}

.qa-vote-up-button {
background-position:0 0;
color:#f1c96b;
}

.qa-vote-up-disabled {
background-position:0 -116px;
color:#CCC;
}

.qa-vote-up-hover,.qa-vote-up-button:hover {
background-position:0 -29px;
color:#f1c96b;
}

.qa-vote-down-button,.qa-vote-down-hover,.qa-vote-down-disabled {
background:url(vote-buttons.png) no-repeat;
border:0;
color:#f1c96b;
font-size:1px;
height:29px;
width:27px;
}

.qa-vote-down-button {
background-position:-27px 0;
color:#f1c96b;
}

.qa-vote-down-disabled {
background-position:-27px -116px;
color:#CCC;
}

.qa-vote-down-hover,.qa-vote-down-button:hover {
background-position:-27px -29px;
color:#f1c96b;
}

.qa-voted-up-button,.qa-voted-up-hover {
background:url(vote-buttons.png);
border:0;
color:#f1c96b;
font-size:1px;
height:29px;
width:27px;
}

.qa-voted-up-button {
background-position:0 -87px;
color:#f1c96b;
}

.qa-voted-up-hover,.qa-voted-up-button:hover {
background-position:0 -29px;
color:#f1c96b;
}

.qa-voted-down-button,.qa-voted-down-hover {
background:url(vote-buttons.png);
border:0;
color:#f1c96b;
font-size:1px;
height:29px;
width:27px;
}

.qa-voted-down-button {
background-position:-27px -87px;
color:#f1c96b;
}

.qa-voted-down-hover,.qa-voted-down-button:hover {
background-position:-27px -29px;
color:#f1c96b;
}

.qa-vote-one-button {
position:absolute;
left:32px;
top:0;
}

.qa-vote-first-button {
position:absolute;
left:10px;
top:0;
}

.qa-vote-second-button {
position:absolute;
left:53px;
top:0;
}

.qa-netvote-count {
text-align:center;
display:block;
}

.qa-netvote-count-data {
font-size:28px;
font-weight:700;
}

.qa-netvote-count-pad {
font-size:14px;
}

.qa-upvote-count {
text-align:center;
display:block;
float:left;
width:45px;
}

.qa-upvote-count-data {
font-size:20px;
font-weight:700;
display:block;
}

.qa-upvote-count-pad {
font-size:12px;
}

.qa-downvote-count {
text-align:center;
display:block;
float:left;
width:45px;
}

.qa-downvote-count-data {
font-size:20px;
font-weight:700;
display:block;
}

.qa-downvote-count-pad {
font-size:12px;
}

/* Answers and views count */
.qa-a-count {
background:url(a-count-icon.png) no-repeat 32px 13px;
float:left;
width:90px;
text-align:center;
margin-right:20px;
padding:50px 0 0;
}

.qa-a-count-data {
font-size:28px;
font-weight:700;
}

.qa-a-count-pad {
font-size:14px;
}

.qa-view-count {
float:right;
font-size:11px;
color:#555;
margin:6px 8px 0 20px;
}

.qa-view-count-data {
font-weight:700;
}

/* Tags, users and categories */
.qa-top-tags-table {
float:left;
border-collapse:collapse;
margin-bottom:1em;
}

.qa-top-tags-count {
border:1px solid #263A63;
border-right:1px dashed #263A63;
color:#fff;
text-align:right;
padding:6px 8px 6px 12px;
background:#3B5998;
}

.qa-top-tags-label {
border:1px solid #ddd;
border-left:none;
background:#eee;
padding:4px 16px 0 8px;
}

.qa-top-tags-label .qa-tag-link {
font-weight:400;
}

.qa-top-tags-spacer {
padding:0 4px;
}

.qa-top-users-table {
float:left;
border-collapse:collapse;
margin-bottom:1em;
}

.qa-top-users-label {
border:1px solid #ddd;
border-right:1px dashed #263A63;
text-align:left;
padding:6px 16px 6px 12px;
background:#f4f4f4;
}

.qa-top-users-score {
background:#3B5998;
color:#fff;
text-align:right;
border-color:#263A63;
border-style:solid solid solid none;
border-width:1px;
padding:6px 12px;
}

.qa-top-users-spacer {
padding:0 4px;
}

.qa-browse-cat-list {
list-style:none;
margin:0 0 0 2em;
padding:0;
}

.qa-browse-cat-list-1 {
font-size:18px;
margin-top:1em;
}

.qa-browse-cat-list-2 {
font-size:16px;
}

.qa-browse-cat-list-3 {
font-size:14px;
}

.qa-browse-cat-list-4 {
font-size:12px;
}

.qa-browse-cat-item {
font-weight:700;
color:#3B5998;
margin:2px;
padding:5px 10px;
background:#eee;
display:inline-block;
border:1px solid #ddd;
}

.qa-browse-cat-item:hover{
background:#f4f4f4;
}

.qa-browse-cat-closed {
list-style:square;
color:#86A7B3;
}

.qa-browse-cat-open {
list-style:square;
color:#26434D;
}

.qa-browse-cat-link {
font-weight:700;
text-decoration:none;
color:#26434D;
}

.qa-browse-cat-note {
font-weight:400;
font-size:85%;
color:#6C7B80;
}

.qa-browse-cat-note a {
color:#1e5568;
}

/* Question view */
.qa-q-view {
padding-left:10px;
padding-top:10px;
}

.qa-q-view-main {
float:left;
width:550px;
padding-left:10px;
}

.qa-q-view-content {
font-size:13px;
margin-bottom:16px;
}

.qa-q-view-avatar {
display:inline-block;
vertical-align:middle;
margin-right:8px;
}

.qa-q-view-meta {
display:inline-block;
vertical-align:middle;
font-size:12px;
}

.qa-q-view-follows {
font-size:14px;
margin-bottom:12px;
}

.qa-q-view-closed {
font-size:14px;
margin-bottom:18px;
}

.qa-q-view-closed-content {
font-weight:700;
}

.qa-q-view-extra {
font-size:14px;
margin-bottom:18px;
}

.qa-q-view-extra-content {
font-weight:700;
}

.qa-q-view-when-data {
font-weight:700;
}

.qa-q-view-who-title {
font-size:80%;
font-weight:700;
color:#6b0000;
}

.qa-q-view-points-data {
font-weight:700;
}

.qa-q-view-flags {
color:red;
font-weight:700;
padding-left:4px;
}

.qa-q-view-tags {
clear:both;
margin-bottom:12px;
}

.qa-q-view-tag-list {
list-style:none;
margin:0;
padding:0;
}

.qa-q-view-tag-item {
display:inline;
}

.qa-q-view-buttons {
margin-top:16px;
}

.qa-q-view-c-list {
clear:both;
border-top:1px solid #ccc;
margin:24px 0 0 24px;
}

.qa-q-view-hidden .qa-voting {
color:#ccc;
}

.qa-q-view-hidden .qa-q-view-content {
color:#999;
}

.qa-q-view-hidden .qa-q-view-meta {
color:#ccc;
}

.qa-q-view-hidden .qa-user-link {
color:#999;
}

.qa-q-view-hidden .qa-q-view-who-title {
color:#999;
}

.qa-q-view-hidden .qa-category-link {
color:#999;
}

.qa-q-view-hidden .qa-tag-link {
color:#ccc;
opacity:0.5px;
}

/* Answer view  */
.qa-a-list-item {
background:#fff;
margin-bottom:10px;
zoom:1px;
position:relative;
padding:10px;
border:1px solid #eee;
}

/* zoom for IE, padding for early FF */
.qa-a-list-item-selected {
background:#eee!important;
border:1px solid #519023;
}

.qa-a-list-item-hidden .qa-voting {
color:#ccc;
}

.qa-a-list-item-hidden .qa-a-item-content {
color:#999;
}

.qa-a-list-item-hidden .qa-a-item-what {
color:#ccc;
}

.qa-a-list-item-hidden .qa-a-item-meta {
color:#ccc;
}

.qa-a-list-item-hidden .qa-a-item-who-title {
color:#999;
}

.qa-a-list-item-hidden .qa-user-link {
color:#999;
}

.qa-a-item-main {
float:left;
width:535px;
display:inline-block;
padding-left:10px;
}

/* inline-block for IE */
.qa-a-item-content {
font-size:13px;
margin-bottom:16px;
}

.qa-a-item-avatar {
display:inline-block;
vertical-align:middle;
margin-right:8px;
}

.qa-a-item-meta {
display:inline-block;
vertical-align:middle;
font-size:12px;
}

.qa-a-item-when-data {
font-weight:700;
}

.qa-a-item-who-title {
font-size:80%;
font-weight:700;
color:#6b0000;
}

.qa-a-item-points-data {
font-weight:700;
}

.qa-a-item-flags {
color:red;
font-weight:700;
padding-left:4px;
}

.qa-a-item-buttons {
margin-top:16px;
}

.qa-a-item-c-list {
clear:both;
border-top:1px solid #ccc;
margin:24px 0 0 24px;
}

/* Answer selection */
.qa-a-selection {
position:absolute;
right:10px;
width:60px;
text-align:center;
}

.qa-a-select-button,.qa-a-select-hover {
background:url(select-star.png) no-repeat;
border:0;
height:49px;
width:50px;
}

.qa-a-select-button {
background-position:0 -49px;
}

.qa-a-select-hover,.qa-a-select-button:hover {
background-position:0 -98px;
}

.qa-a-unselect-button,.qa-a-unselect-hover {
background:url(selected-star.png) no-repeat;
border:0;
height:49px;
width:50px;
}

.qa-a-unselect-button {
background-position:0 0;
}

.qa-a-unselect-hover,.qa-a-unselect-button:hover {
background-position:0 -49px;
}

.qa-a-selected {
background:url(selected-star.png) no-repeat 0 0;
height:49px;
width:50px;
margin:0 auto;
}

.qa-a-selected-text {
font-size:10px;
font-weight:700;
display:block;
margin-top:6px;
color:#73A651;
}

/* Comments */
.qa-c-list-item {
border-bottom:1px solid #ccc;
padding:8px 0 8px 8px;
}

.qa-c-item-hidden .qa-c-item-content {
color:#bbb;
}

.qa-c-item-hidden .qa-c-item-link {
color:#aaf;
}

.qa-c-item-hidden .qa-c-item-what {
color:#ccc;
}

.qa-c-item-hidden .qa-c-item-meta {
color:#ccc;
}

.qa-c-item-hidden .qa-c-item-who-title {
color:#999;
}

.qa-c-item-hidden .qa-user-link {
color:#999;
}

.qa-c-item-link {
display:block;
margin-bottom:6px;
}

.qa-c-item-expand {
display:block;
color:#666;
font-style:italic;
margin:2px 0;
}

.qa-c-item-content {
display:block;
color:#666;
margin-bottom:6px;
}

.qa-c-item-footer {
position:relative;
height:1%;
}

/* height for IE6 */
.qa-c-item-avatar {
display:inline-block;
vertical-align:middle;
margin-right:4px;
}

.qa-c-item-meta {
display:inline-block;
vertical-align:middle;
font-size:10px;
color:#666;
}

.qa-c-item-who-title {
font-size:80%;
font-weight:700;
color:#6b0000;
}

.qa-c-item-who-points {
display:none;
}

.qa-c-item-flags {
color:red;
font-weight:700;
padding-left:3px;
}

.qa-c-item-buttons {
display:block;
position:absolute;
bottom:0;
right:0;
}

.qa-c-item-buttons .qa-form-light-button,.qa-c-item-buttons .qa-form-light-hover {
background:none;
height:auto;
font-size:10px;
padding:0;
}

/* Related questions and activity count widgets */
.qa-related-qs {
font-size:14px;
}

.qa-related-qs h2 {
font-size:18px;
}

.qa-related-q-list {
list-style-type:none;
padding:0;
}

.qa-related-q-item {
margin:0.5em 0;
}

.qa-activity-count {
font-size:14px;
color:#777;
}

.qa-activity-count-item {
margin:0.5em 0;
}

.qa-activity-count-data {
font-size:24px;
font-weight:700;
}

/* Footer parts */
.qa-nav-footer-list {
float:right;
list-style-type:none;
margin:0;
padding:0;
}

.footer-copyright{
float:left;
}

.footer-copyright p{
display:inline-block;
}

.footer-credit{
float:right;
display:inline-block;
margin-right:12px;
}

.qa-nav-footer-item {
float:left;
margin:0 12px;
}

.qa-nav-footer-link {

}

.qa-nav-footer-link:hover {

}

.qa-attribution {
float:right;
}

.qa-attribution a {

}

.qa-attribution a:hover {

}

/* Classes passed to theme */
.qa-user-link {
color:#3B5998 !important;
font-weight:700;
}

.qa-category-link {
color:#1e5568;
font-weight:700;
}

.qa-tag-link {
background:url(tag-icon.png) no-repeat left center;
/* color:#206b00 !important; */
font-size:12px;
height:16px;
display:0;
margin-right:4px;
margin-bottom:3px;
padding-left:18px;
vertical-align:middle;
text-decoration:none !important;
}

.qa-tag-link:hover {
text-decoration:underline !important;
}

.qa-avatar-image {
border:0;
vertical-align:middle;
}

.qa-avatar-link,.qa-avatar-link:hover {
text-decoration:none;
}

.qa-favorite-image {
background:url(favorite-heart.png) no-repeat;
background-position:0 -24px;
border:0;
height:24px;
width:24px;
vertical-align:middle;
display:inline-block;
}

/* IE6 friendly versions of icons with binary alpha channel */
* html .qa-form-light-button-edit,* html .qa-form-light-hover-edit,* html .qa-form-light-button-retagcat,* html .qa-form-light-hover-retagcat {
background:url(edit-icon-ie6.png) no-repeat left center;
}

* html .qa-form-light-button-flag,* html .qa-form-light-hover-flag {
background:url(flag-icon-ie6.png) no-repeat left center;
}

* html .qa-form-light-button-unflag,* html .qa-form-light-hover-unflag,* html .qa-form-light-button-clearflags,* html .qa-form-light-hover-clearflags {
background:url(unflag-icon-ie6.png) no-repeat left center;
}

* html .qa-form-light-button-hide,* html .qa-form-light-hover-hide {
background:url(hide-icon-ie6.png) no-repeat left center;
}

* html .qa-form-light-button-follow,* html .qa-form-light-hover-follow {
background:url(follow-icon-ie6.png) no-repeat left center;
}

* html .qa-form-light-button-comment,* html .qa-form-light-hover-comment {
background:url(comment-icon-ie6.png) no-repeat left center;
}

* html .qa-form-light-button-answer,* html .qa-form-light-hover-answer {
background:url(answer-icon-ie6.png) no-repeat left center;
}

* html .qa-form-light-button-reshow,* html .qa-form-light-hover-reshow {
background:url(reshow-icon-ie6.png) no-repeat left center;
}

* html .qa-form-light-button-claim,* html .qa-form-light-hover-claim {
background:url(claim-icon-ie6.png) no-repeat left center;
}

* html .qa-form-light-button-delete,* html .qa-form-light-hover-delete {
background:url(delete-icon-ie6.png) no-repeat left center;
}

* html .qa-vote-up-button {
background:url(vote-buttons-ie6.png) no-repeat 0 0;
}

* html .qa-vote-up-hover {
background:url(vote-buttons-ie6.png) no-repeat 0 -29px;
}

* html .qa-vote-up-disabled {
background:url(vote-buttons-ie6.png) no-repeat 0 -116px;
}

* html .qa-vote-down-button {
background:url(vote-buttons-ie6.png) no-repeat -27px 0;
}

* html .qa-vote-down-hover {
background:url(vote-buttons-ie6.png) no-repeat -27px -29px;
}

* html .qa-vote-down-disabled {
background:url(vote-buttons-ie6.png) no-repeat -27px -116px;
}

* html .qa-voted-up-button {
background:url(vote-buttons-ie6.png) no-repeat 0 -87px;
}

* html .qa-voted-up-hover {
background:url(vote-buttons-ie6.png) no-repeat 0 -29px;
}

* html .qa-voted-down-button {
background:url(vote-buttons-ie6.png) no-repeat -27px -87px;
}

* html .qa-voted-down-hover {
background:url(vote-buttons-ie6.png) no-repeat -27px -29px;
}

* html .qa-tag-link {
background:url(tag-icon-ie6.png) no-repeat left center;
}

* html .qa-a-count {
background:url(a-count-icon-ie6.png) no-repeat 32px 13px;
}

div.qa-a-form h2 a{
	text-decoration:none;
color: #cccccc;
	
}

