body{
border-top: 7px solid #76A34C;
color: #595959;
font: 1em/1.5 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
margin: 0;
padding: 3em 0 0;
}
a{
color:#76A34C;
}
a:hover {
color:#333;
}
h1, h2, h3, h4, h5, h6 {
color: #111;
font-family: Georgia,serif;
font-weight: normal;
}
h1{
margin: 0 0 3em;
padding: 0;
}
h1 a{
color:#111;
text-decoration:none;
}
h1 a:hover {
color:#76A34C;
}
h2{
font-size:1.3em;
}
.post{
text-align: justify;
border-bottom: 1px dotted #BBBBBB;
margin-bottom: 40px;
}
.post img{
max-width:560px;
}
p{
margin: 0 0 1.5em;
}
ul, ol {
margin: 0 0 1.5em;
}
blockquote {
border-left: 2px solid #76A34C;
color: #888;
margin: 0 1em 1.5em;
padding: 0 1em;
}
code,pre{
padding:10px;
margin:0 0 20px;
display:block;
font-size: .8em;
background:#F9F9F9;
border:1px solid #ccc;
font-family: Courier New;
overflow: auto;
}
#page{
margin:0 auto;
min-width:560px;
width:37em;
}
#nav{
float: right;
margin: 0.75em 0 3.75em;
padding: 0;

}
#head ul li{
list-style: none outside none;
display: inline-block;
margin: 0 0.25em;
}
#nav a {
border-bottom: 2px solid #FFFFFF;
font-size: 1.2em;
line-height: 1.8em;
padding: 0.25em;
text-decoration: none;
}
#nav a:hover {
border-bottom-color: #76A34C;
text-decoration: none;
}
#posts {
clear: both;
}
#footer {
background:#222;
border-top: 5px solid #76A34C;
color: #888;
float: left;
overflow: visible;
padding: 0 0 1.5em;
width: 100%;
}
#footer a {
text-decoration: none;
}
#footer a:hover {
color: #888;
}
#footer h3 {
border-bottom: 1px solid #888;
color: #888;
font-size: 1.5em;
margin: 2em 0 0.25em;
}
#footer ul {
list-style: none outside none;
padding: 0;
}
#footer ul li {
line-height: 2;
}
#footer-content {
margin: 0 auto;
padding: 0;
width: 50em;
}
#footer-left {
float: left;
width: 15em;
}
#footer-middle {
float: left;
margin-left: 2.5em;
width: 15em;
}
#footer-right {
float: left;
margin-left: 2.5em;
width: 15em;
}
#search input {
display: inline;
}
.info{
text-align:right;
margin:20px 0;
font-size:.7em;
}
.right{
float:right;
}
.left{
float:left;
}
.left,.right{
font-size:0.9em;
}
#comment{
clear:both;
margin:90px 0 0;
}
#comment ol li{
list-style:none;
}
#comment ol{
margin:0;
}
.comment-author{
display: block;
float: left;
text-align: center;
width: 48px;
margin:10px 0 0;
}
.avatar{
background: none repeat scroll 0 0 #FFFFFF;
border: 1px solid #DDDDDD;
padding: 1px;
margin:-4px 0 0;
}
cite.fn {
font-size: 0.8em;
font-style: normal;
padding-left: 15px;
}
cite.fn a,.reply a{
text-decoration: none;
}
.reply {
float: right;
font-size: 0.8em;
}
.comments-content {
margin-left: 64px;
overflow: hidden;
padding: 3px 0 10px;
position: relative;
}
.comment-children {
padding-left: 16px;
}
