/* Reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,a,code,em,img,q,small,strong,dd,dl,dt,li,ol,ul,fieldset,form,label,table,tbody,tr,th,td,input{margin:0;padding:0}
html.hasFontSmoothing-false body{font-family:Tahoma,Arial,Helvetica,STHeiti;}
a img, :link img, :visited img{border:0}
table{border-collapse:collapse}
ul{list-style:none}
q:before,q:after,blockquote:before,blockquote:after{content:""}
a{color:#365C7F;}
/* Global */

/* show scrollbar by default */
html{overflow-y:scroll;}
/* clearFix*/
.clearfix:after, .content:after{content:"\0020";display:block;height:0;clear:both;visibility:hidden;}
.content:after{height:auto;height:0\9;}
.clearfix, .content{display:inline-block;}
.clearfix, .content{display:block;}
.clear{clear:both;height:0;overflow:hidden;}

/* hidden */
.hide, .dlog-dd-title{display:none;}


/*component*/
blockquote{color:#888; border-left: 4px solid #ddd;margin: 0 0 14px 15px;padding: 0 0 0 13px;}
.photo-count {-moz-border-radius: 10px;-webkit-border-radius: 10px; border-radius: 10px;color: #fff; font-size: 14px; padding: 5px 10px;display:inline-block;background: #212121;background: rgba(0, 0, 0, .7); position:absolute; right:20px; bottom:20px;}
.left{ float:left; margin-left:20px;}
.right{ float:right; margin-right:20px;}
/*component end*/


.mr10{ margin-right:10px;color:#16A085;}
.fr{ float:right;}
/*main*/
body{ font-size:14px; font-family:"Microsoft Yahei",Tahoma,Arial,Helvetica,STHeiti;}
.wrapper{background: repeat-x top left;}
.header{ height:61px; line-height:61px; width:840px; margin:0 auto; color:#ddd;}
.header h2{ font-size:30px; font-weight:bold; line-height:60px;}
.header h2 a{ color:#bbb; text-decoration:none;}
.header h2 a:hover{ color:#ddd;}
#container{ width:840px; margin:0 auto;}
.main-content{ width:550px; float:left; margin-top:40px; margin-bottom: 60px;}
.box{ border: 1px solid #CCC; position:relative; border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px; margin-bottom:40px; zoom:1; padding-top:20px;}
.title a{ text-decoration:none;}
.box-tag{text-decoration:none; display:block; width:75px; height:40px; position:absolute; left:-76px; top:20px; zoom:1; text-align:center; color:#fff; background-color:#CDCDCD }
.box-tag:hover{color:#FFF;}
.month{ font-size:14px;}
.day{ font-size:18px; display:block; margin-top:4px; line-height:28px;}
#container .media{ border:5px solid #ddd; zoom:1;}
.title{ margin:0 20px 10px; font-size:20px; font-weight:bold; word-break:break-all;}
.photo-box{ position:relative; width:510px; margin:0 20px 10px; display:block; zoom:1;}
.caption{ margin:auto; width:500px; overflow:hidden; margin-bottom:10px;}
.caption p{ margin-bottom:6px;}
.box-footer{ color:#365C7F; padding:5px 0; font-size:13px;background-color:#eee;}
.box-footer li{ margin:0 20px;}
.box-footer li p{ padding:0 0 5px 18px;}
.tags{ background: no-repeat 0 4px; zoom:1;}
.time{ background: no-repeat 0 2px; zoom:1;padding:5px 10px 5px 10px;}
.reblog{ background: no-repeat 0 2px; zoom:1;}
.tags a{ text-decoration:underline;}
.tags a:hover{ text-decoration:none;}
.aside{ width:250px; float:right; margin-top:40px; font-size:18px; font-weight:bold;}
.user-avatar{ float:left;}
.user-about{ float:left; margin-left:15px; width:165px; font-size:15px; font-weight:normal; word-wrap:break-word;}
.user-about a{ text-decoration:none;}
.user-about a:hover:{ text-decoration:underline;}
.user-info{ padding-bottom:20px; border-bottom:solid 1px #ccc}
.sep{ border-top:solid 1px #fff; padding-top:20px;}
.blog-communi li{ display:inline;}
.blog-communi a{ display:block; padding:5px 8px; text-decoration:none; border-radius:5px;}
.blog-communi a:hover{ background-color: #DEE9F4;  padding:5px 8px; color:#365C7F;}
.pagination{ margin-top:30px; font-size:20px;}
.pagination a{ text-decoration:none; display:inline; padding:5px 8px;}
.pagination a:hover{ background-color: #DEE9F4; border-radius:5px;}
.footer{background: #AAA repeat-x top left; border-top: 1px solid #AAA; margin-top: 40px; min-height: 35px;}
.footer-inner{ width:840px;  color:#666; text-shadow:1px 1px #D0D0D0; padding:12px 0; line-height:14px; margin:0 auto;}

.rich-content{line-height: 33px;}
.rich-content ol,.rich-content ul{margin:0.5em 0;padding-left:10px;}
.rich-content li {margin-left:30px;}
.rich-content p {margin-top: 20px;}
#comments {
margin-top: 20px;
}

#comments h4 {
font-size: 14px;
font-weight: bold;
}

ol.comment-list, ol.comment-list ol {
margin: 0;
list-style: none;
}

ol.comment-list ol {
padding-top: 10px;
}

ol.comment-list li {
margin: 0;
padding-bottom: 10px;
}

ol.comment-list li {
	padding: 10px 15px;
	margin-top: 10px;
	border: 1px solid #eee;
	background: #FAFAFA;
	overflow: hidden;
}

ol.comment-list li.comment-level-odd {
	background: #fff;
}

ol.comment-list li.comment-level-even {
	background: #FAFAFA;
}

ol.comment-list li.comment-by-author {
	border: 1px dashed #AAA;
}

ol.comment-list li .comment-reply {
	text-align: right;
}

ol.comment-list li .comment-reply a {
	font-size: 11px;
	border: none;
	color: #aaa;
}

ol.comment-list li .comment-reply a:hover {
	color: #444;
}

.comment-meta {
padding-bottom: 8px;
/*border-bottom: 1px dashed #eee;*/
color: #999;
font-size: 11px;
}
.comment-author {
display: block;
font-size: 15px;
color: #444;
}

.comment-author cite.fn {
font-style: normal;
}

.comment-body {
overflow: hidden;
}

img.avatar {
/*display: none;*/
float: left;
margin: 6px 10px 0 0;
}

.respond {
margin-top: 20px;
}

ol.comment-list li .respond {
border-top: 1px solid #ddd;
padding-top: 10px;
}

#comment_form {
	padding-right: 8px;
}

.respond .cancel-comment-reply {
	float: right;
	font-size: 11px;
}

.respond .cancel-comment-reply a {
	border: none;
	color: #aaa;
}

.respond .cancel-comment-reply a:hover {
	color: #444;
}

#comment_form label {
	font-size: 12px;
	color: #555;
	display: block;
	font-weight: bold;
}

#comment_form label .required {
	color: #C04E37;
	padding-left: 5px;
	font-size: 14px;
}
#comment_form .text {
width: 100%;
margin-right: 15px;
}
#comment_form textarea {
width: 100%;
height: 180px;
}

ol#comment_list li .respond .text {
	_width: 400px;
}

ol#comment_list li .respond textarea {
	_width: 400px;
}


/*自己加的css*/

/*上一篇，下一篇的css*/
div .prevlink
{
    margin: 5px 10px 5px 10px;
}

div .nextlink
{
    margin: 5px 10px 5px 10px;
}