/*
	Question2Answer 1.4.2 (c) 2011, Gideon Greenspan

	http://www.question2answer.org/

	
	File: qa-theme/Default/qa-styles.css
	Version: 1.4.2
	Date: 2011-09-12 10:46:08 GMT
	Description: CSS file for included Candy theme


	This program is free software; you can redistribute it and/or
	modify it under the terms of the GNU General Public License
	as published by the Free Software Foundation; either version 2
	of the License, or (at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	More about this license: http://www.question2answer.org/license.php
*/


/* General page layout */
html, body {
    height:100%;

}

body {
    background: #f4f4f4;
    margin:0; padding:0; text-align:center;
}
.qa-header{
	background: none repeat scroll 0 0 #F1F1F1;
	border-bottom: 1px solid #D2D2D2;
	clear: both;
	position: absolute;
	padding:0px 0px 0px 0px;
    width:100%;
}

.qa-footer
{
    background: none repeat scroll 0 0 #F1F1F1;
    border-bottom: 1px solid #D2D2D2;
    border-top: 1px solid #D2D2D2;
    clear: both;
    height: 39px;
    position: relative;
    padding:0 6px;
}

body,td,input,textarea {font-size:100%; font-family:Verdana, Arial, Helvetica, sans-serif;}
a:link,a:active,a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
p {margin-top:0;}
table {background: none repeat scroll 0 0 white;}

input[type=text],textarea {
	width:100%;
}

input[type=button], input[type=submit], .qa-page-link, .qa-page-next, .qa-page-prev, .qa-page-selected {
	background-color: #F5F5F5;
	background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
	border: 1px solid #C6C6C6;
	color: #444444;
	padding:6px 10px; 
	border-radius:2px; 
}
.qa-body-wrapper { min-height:100%; display:inline-block; position:relative; width: 100%; margin:0; text-align:left;}

/* Clearing classes */

.qa-nav-main-clear,
.qa-nav-sub-clear,
.qa-q-item-clear,
.qa-q-view-clear,
.qa-a-item-clear,
.qa-c-item-clear,
.qa-footer-clear,
.qa-vote-count-clear,
.qa-page-links-clear {clear:both;}

/* Headings */

h1 {color:black; font-size:160%; margin:1em 0; margin-left:10px;}
h2 {color:black; font-size:125%; padding-top:12px; clear:both; margin-left:10px;}

.qa-q-view-main > h1, .qa-q-view-main > h2, .qa-a-list h1, .qa-a-list h2  {
 color:black;
}

.qa-error {background:#fee; border:1px solid #c00; color:#c00; font-size:125%; padding:.5em; margin:1em 0; font-weight:bold;}
	.qa-error a {color:#900; text-decoration:underline;}
	.qa-error a:hover {color:#f00;}

/* Page sections */

.qa-sidepanel {float:right; width:176px; margin-right:18px;}
* html .qa-sidepanel {margin-right:10px;} /* IE6 */
.qa-sidebar {padding:12px; font-size:110%; background:#f5e4c3; border:1px solid #f3c772; margin:24px 0;}
.qa-feed {background:url(feed-icon-14x14.png) no-repeat left top; padding-left:20px; height:16px; margin:24px 0;}
.qa-feed-link {font-size:70%; color:#666;}
.qa-main {width:100%;  }
.qa-main-hidden h1 {color:#999;}
.qa-footer {
	position:absolute; bottom:0; left:0; right:0; }
* html .qa-footer {padding-top:6px;} /* IE6 */

.feedback-image {
	background: url("mail-icon.png");
	width:32px;
	height:32px;
}

/* Widget wrappers */

.qa-widgets-full-top {margin-bottom:-4px;}
.qa-widget-full {clear:both; margin:20px; width:942px;}
.qa-widget-full-high {margin-bottom:0;}
.qa-widgets-main-top {margin-top:24px;}
.qa-widgets-main-high {margin-bottom:24px;}
.qa-widget-main {margin:20px 0; width:728px;}
.qa-widget-main-bottom {margin-bottom:0;}
.qa-widgets-side-top {margin-top:24px;}
.qa-widget-side {margin:16px 0; width:176px;}

/* Header sections */

.qa-logo {margin-left:10px; text-align:center; margin-bottom:1px; font-size:200%; color:black; float:left}
.qa-logo-link, .qa-logo-link:hover {color:black;}

.qa-nav-user {float:left; font-size:12px; color:black; white-space:nowrap; margin-top:9px; margin-right:16px;}
.qa-nav-user-list {list-style:none; padding:0; margin:0; display:inline;}
.qa-nav-user-item {display:inline; margin-left:12px; font-weight:bold;}
.qa-nav-user-link {color:#fff}
.qa-logged-in {display:inline;}

.qa-search {margin-top: 3px; float:right; white-space:nowrap;}
.qa-search-field {width:12em; margin-right:2px;}
.qa-search-button {height:32px !important; width:32px !important; padding:4px 8px 8px !important; margin-top:2px !important; background:url(search.png) no-repeat !important; border: medium none !important;}

/* Main, sub and category navigation */



#wrapper  /* 为移动版增加的wrapper */
{
    position:absolute ;
    top:60px;
    bottom: 48px;
    left: 0;
    /*width: 100%;  宽度由js控制*/
    /*overflow: hidden;*/
}



.qa-nav-main {clear:both;}
.qa-nav-main-list {font-size:70%; list-style:none; padding:0; margin:0;}
.qa-nav-main-item,.qa-nav-main-item-opp {}
.qa-nav-main-item {float:left;}
.qa-nav-main-item-opp {float:right;}
.qa-nav-main-link {
	font-family: "Microsoft YaHei", "微软雅黑", "SimSun", "宋体";
    font-weight: bolder;
	color: #235272;
	display:block;
    padding:4px 2px 4px 2px;
    margin:1px 20px 1px 1px;
}
.qa-nav-main-selected {
    color: #FFF;
	background-color: #6FA2FF;
    border-radius:8px
}
.qa-nav-main-hot .qa-nav-main-link {background:#f33;}
.qa-nav-main-hot .qa-nav-main-link:hover, .qa-nav-main-hot .qa-nav-main-selected {background:#f66;}

.qa-nav-sub {clear:both; float:left;}
.qa-nav-sub-list {font-size:100%; list-style:none; padding:0; margin:0;}
.qa-nav-sub-item {float:left; margin-bottom:2px;}
.qa-nav-sub-link {
background-color: #F5F5F5;
background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
border: 1px solid #EBEBEB;
color: #444444;
 padding:5px 8px; display:block; border-radius:2px; margin:2px
}
.qa-nav-sub-selected {color:#DD4B39;  font-weight:bold; text-decoration:none;}
.qa-nav-sub-link.qa-nav-selected {background:#396e63;}

.qa-nav-cat {margin:24px 0;}
.qa-nav-cat-list {list-style:none; padding:0; margin:0;}
.qa-nav-cat-list-1 {font-size:110%;}
.qa-nav-cat-list-2 {font-size:100%; margin-left:1em;}
.qa-nav-cat-list-3 {font-size:70%; margin-left:1em;}
.qa-nav-cat-list-4 {font-size:65%; margin-left:1em;}
.qa-nav-cat-item {margin:0.5em 0;}
.qa-nav-cat-link {font-weight:bold;}
.qa-nav-cat-selected,.qa-nav-cat-selected:hover {text-decoration:none; color:#000;}

/* Pagination */

.qa-page-links {font-size:110%; clear:both; zoom:1;} /* zoom:1 for IE6 */
.qa-page-links-label {color:#333;}
.qa-page-links-list {margin:0; padding:0; list-style:none; display:inline;}
.qa-page-links-item {display:inline;}
.qa-page-link,.qa-page-selected,.qa-page-prev,.qa-page-next {margin:3px 1px; padding:3px 5px;}
.qa-page-prev,.qa-page-next, .qa-page-link {color:black;}
.qa-page-selected {

	border: 1px solid #3079ED;
	color: #FFFFFF;
	padding:6px 10px; border-radius:2px; margin:4px 4px 4px 0;
	background-color: #6FA2FF;
	background-image: -moz-linear-gradient(center top , #6FA2FF, #6DA0FF);


}
 
.qa-page-ellipsis {color:#666;}

/* User profile links */

.qa-useract-page-links {font-size:110%; padding:0.5em 0; text-align:left; clear:both; color:black;margin-bottom: 30px;}
.qa-useract-page-links a {

	background-color: #4D90FE;
	background-image: -moz-linear-gradient(center top , #4D90FE, #4787ED);
	border: 1px solid #3079ED;
	color: #FFFFFF;
	padding:6px 10px; border-radius:2px; margin:4px 4px 4px 0;

}

/* Standard form (tall version) */

.qa-form-tall-table {border-radius:2px; margin: auto; width: 98%;  border: 1px solid #EBEBEB}
.qa-form-tall-spacer {background:#E3F4FF; line-height:1px; padding:0; font-size:1px;}
.qa-form-tall-ok {background:#efe; border:1px solid #090; color:#090; font-size:18px; padding:6px; text-align:center;}
.qa-form-tall-label {color:#253845; padding:12px 8px 2px 8px; font-size:75%; font-weight:bold;}
.qa-form-tall-data {padding:0px 8px 10px 8px; }
.qa-form-tall-text,.qa-form-tall-number {padding:3px;}
.qa-form-tall-text { border:1px solid #658296;}
.qa-form-tall-number {width:48px; border:1px solid #658296;}
.qa-form-tall-checkbox {float:left; margin-right:6px;}
.qa-form-tall-image {text-align:center; margin-top:12px;}
	.qa-form-tall-image img {border:1px solid #000;}
.qa-form-tall-error {background:#fee; border:1px solid #c00; color:#c00; font-size:110%; margin-top:6px; padding:.5em; display:inline-block;}
.qa-form-tall-note {margin-top:6px;}
	.qa-form-tall-note a {color:#293D39; text-decoration:underline;}
	.qa-form-tall-note a:hover {color:#396E63;}
.qa-form-tall-buttons {padding:8px; text-align:center;}

/* Standard form (wide version) */

.qa-form-wide-table {border-radius:2px; background-color:white;  margin: auto; width: 98%;  border: 1px solid #EBEBEB}
.qa-form-wide-spacer {background:#E3F4FF; line-height:1px; padding:0; font-size:1px;}
.qa-form-wide-ok {background:#efe; border:1px solid #090; color:#090; font-size:125%; padding:6px; text-align:center;}
.qa-form-wide-label {color:#253845; padding:6px 10px; font-size:86%; font-weight:bold; white-space: nowrap;}
.qa-form-wide-data {padding:6px 10px;}
.qa-form-wide-text,.qa-form-wide-number {padding:3px;}
.qa-form-wide-text { border:1px solid #658296;}
.qa-form-wide-number {width:48px; border:1px solid #658296; vertical-align:middle;}
.qa-form-wide-error {display:inline-block; background:#fee; border:1px solid #c00; color:#c00; font-size:75%; margin-left:6px; padding:.5em;}
.qa-form-wide-note {font-size:70%; margin-left:4px;}
.qa-form-wide-buttons {padding:8px; text-align:center;}

/* Standard form (light version - buttons only) */

.qa-form-light-button,.qa-form-light-hover {background:none; border:1px solid #fff; cursor:pointer; padding:0; margin-right:6px; font-size:70%; overflow: visible;} /* overflow:visible for IE, 1px border needed for tooltips to work more reliably in IE */
	.qa-form-light-button {color:#666;}
	.qa-form-light-hover, .qa-form-light-button:hover {color:#000;}

/* Standard form (basic version - buttons only) */

.qa-form-basic-button,.qa-form-basic-hover {background:none repeat scroll 0 0 #293D39; border:1px solid #293D39; margin:4px 4px 4px 0; padding:3px 4px; vertical-align:middle;}
	.qa-form-basic-button {color:#FFF;}
	.qa-form-basic-hover,.qa-form-basic-button:hover {background:#396E63; border:1px solid #293D39; color:#FFF;}

.qa-form-basic-note {font-size:75%;}

/* Question list */

.qa-q-view, .qa-page-links {
  border: 1px solid #EBEBEB;
  border-radius: 2px 2px 2px 2px;
  margin: 0 10px 24px;
  padding: 20px;
}
.qa-q-list-item {
	margin: 0 10px;
	padding: 20px;
	border-bottom:none;
    background: #f4f4f4;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.qa-q-item-main { float: left; text-align: left;/* width: 200px; */}
.qa-q-item-stats{width: 80px;float:left}

.qa-q-item-title {color:#235272; font-weight:bold;}
	.qa-q-item-title a {color:#235272;font-size:16px;}
.qa-q-item-avatar {display:inline-block; vertical-align:middle; margin-top:6px; margin-right:2px;}
.qa-q-item-meta {display:inline-block; vertical-align:middle; margin-top:12px;font-size:14px}
.qa-q-item-when-data {font-weight:700;}
.qa-q-item-whrere-pad{font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;color: #444;}
.qa-q-item-who-pad{font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;color: #444;}
.qa-q-item-who-title {font-size:65%; font-weight:bold; color:#900707;}
.qa-q-item-points-data {font-weight:bold;}
.qa-q-item-tags {}
.qa-q-item-tag-list {list-style:none; margin:0; padding:0;}
.qa-q-item-tag-item {display:inline;}
.qa-q-item-what{color:#3B5998;}

.qa-suggest-next {font-size:110%; padding:12px; text-align:left; clear:both; color:black;margin-bottom: 30px;}
.qa-suggest-next a, .qa-useract-page-links a {
	white-space:nowrap; 

	background-color: #4D90FE;
	background-image: -moz-linear-gradient(center top , #4D90FE, #4787ED);
	border: 1px solid #3079ED;
	color: #FFFFFF;
	padding:6px 10px; border-radius:2px; margin:4px 4px 4px 0;

	line-height:200%;
}

/* Votes */

/* qa-*-hover classes are substituted by JS (for IE), qa-*-button:hover is a backup for other browsers if JS is off */

.qa-voting { width:50px; overflow:hidden; padding:0 0;}
.qa-vote-buttons {float:left; width:18px; padding-right:24px;}

.qa-vote-one-button {margin:24px 0;}
.qa-vote-second-button {margin-top:12px;}

.qa-voted-down-button,.qa-voted-down-hover,.qa-voted-down-button:hover, .qa-voted-up-button:hover,.qa-voted-up-button,.qa-voted-up-hover,.qa-vote-up-button,.qa-vote-up-hover, .qa-vote-down-button,.qa-vote-down-hover,.qa-vote-up-disabled,.qa-vote-down-disabled {
		height:38px; width:37px;
}
.qa-vote-up-button,.qa-vote-up-hover, .qa-vote-down-button,.qa-vote-down-hover {
	cursor:pointer;
}
.qa-voted-down-button,.qa-voted-down-hover,.qa-voted-down-button:hover, .qa-voted-up-button:hover,.qa-voted-up-button,.qa-voted-up-hover {
	cursor:pointer;
	background-color: #D14836 !important;
	background-image: -moz-linear-gradient(center top , #DD4B39, #D14836) !important;
	border: 1px solid transparent !important;
	color: #FFFFFF !important;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1) !important;
	text-transform: uppercase !important;
}


.qa-vote-count {border-radius:2px;border: 1px solid #D2D2D2;/* float:left; */ text-align:center;padding:2px 0px 2px 0px;display:block;}

.qa-netvote-count {width:40px; display:block;}
.qa-netvote-count-data {padding-top:1px; font-size:15px; font-weight:bold; display:block;}
.qa-netvote-count-pad {font-size:8px;}

.qa-upvote-count,.qa-downvote-count {width:48px; height:27px; position:relative; top:-4px; display:block;}
.qa-upvote-count-data,.qa-downvote-count-data {font-size:18px; font-weight:bold; display:inline;}
.qa-upvote-count-pad,.qa-downvote-count-pad {font-size:65%; display:none;}

/* Answers and views count */

.qa-a-count {border-radius:2px;border: 1px solid #D2D2D2;text-align:center; width:40px; padding: 2px 4px 2px 4px; overflow:hidden; /*float:left;*/ display:block;}
.qa-a-count-data {font-size:15px; font-weight:bold; display:block;}
.qa-a-count-pad {font-size:8px;width:40px}

.qa-view-count {float:right; font-size:75%; color: #8F5EA3; margin:3px 10px 0 20px;}
.qa-view-count-data {font-weight:bold;}

/* Tags, users and categories */

.qa-top-tags-table {
  background-color: white;
  border: 1px solid #EBEBEB;
  border-radius: 10px 10px 10px 10px;
  margin: auto;
  max-width: 650px;
  padding: 10px;
  width: 98%;
}

.qa-top-tags-count {color:#235272; text-align:right; padding:3px;}
.qa-top-tags-label {padding:3px;}
	.qa-top-tags-label .qa-tag-link {font-weight:normal;}
.qa-top-tags-spacer {padding:0 4px;}

.qa-top-users-table {
  background-color: white;
  border: 1px solid #EBEBEB;
  border-radius: 10px 10px 10px 10px;
  margin: auto;
  max-width: 650px;
  padding: 10px;
  width: 98%;
}
.qa-top-users-label {padding:3px; text-align:left;}
.qa-top-users-score {color:#414944; text-align:right; padding:3px;}
.qa-top-users-spacer {padding:0 4px;}

.qa-browse-cat-list {padding: 10px;  border-radius:10px; background-color:white; margin: auto; width: 98%; list-style:none; }
.qa-browse-cat-list-1 {font-size:125%;}
.qa-browse-cat-list-2 {font-size:110%;}
.qa-browse-cat-list-3 {font-size:100%;}
.qa-browse-cat-list-4 {font-size:70%;}
.qa-browse-cat-item {margin:0.5em 0; font-weight:bold; color:#000;}
.qa-browse-cat-link {font-weight:bold; text-decoration:none; color:#000;}
.qa-browse-cat-note {font-weight:normal; font-size:70%; color:#444;}
	.qa-browse-cat-note a {color:#473A9F;}

/* Question view */

.qa-q-view-main { text-align: left;}
.entry-title{   color:#3B5998;  background:url(question.png)no-repeat left;  padding-left:30px;}
.qa-q-view-content {min-height: 68px;font-size:110%; padding-left: 128px; margin-bottom:16px;}
.qa-q-view-avatar {display:inline-block; vertical-align:middle; margin-right:8px;}
.qa-q-view-meta {display:inline-block; padding-left:16px; margin-top: 12px; font-size:86%;}
.qa-q-view-follows {font-size:86%; margin-bottom:12px;}
.qa-q-view-when-data {font-weight:bold;}
.qa-q-view-who-title {font-size:65%; font-weight:bold; color:#900707;}
.qa-q-view-points-data {font-weight:bold;}
.qa-q-view-flags {background:#f00; color:#fff; font-weight:bold; padding:2px 5px; margin:4px 0; display:inline-block;}
.qa-q-view-tags {margin-bottom:12px;}
.qa-q-view-tag-list {list-style:none; margin:0; padding:0;}
.qa-q-view-tag-item {display:inline;}
.qa-q-view-buttons {text-align:right; clear:both; margin-top:12px}
.qa-q-view-c-list {clear:both; margin:24px 0 0 24px; border-top:1px dotted #EBEBEB;}

.qa-q-view-hidden {}
	.qa-q-view-hidden .qa-voting {background:#fff; border:1px solid #ccc; color:#ccc;}
	.qa-q-view-hidden .qa-q-view-content {color:#999;}
	.qa-q-view-hidden .qa-q-view-meta {color:#ccc;}
	.qa-q-view-hidden .qa-user-link {color:#999;}
	.qa-q-view-hidden .qa-q-view-who-title {color:#999;}
	.qa-q-view-hidden .qa-category-link {color:#999;}
	.qa-q-view-hidden .qa-tag-link {background-color:#ccc;}

.qa-part-q-view
{

}

/* Answer view  */

.qa-a-list-item-hidden {}
	.qa-a-list-item-hidden .qa-voting {background:#FFF; border:1px solid #ccc; color:#ccc;}
	.qa-a-list-item-hidden .qa-a-item-content {color:#999;}
	.qa-a-list-item-hidden .qa-a-item-what {color:#ccc;}
	.qa-a-list-item-hidden .qa-a-item-meta {color:#ccc;}
	.qa-a-list-item-hidden .qa-a-item-who-title {color:#999;}
	.qa-a-list-item-hidden .qa-user-link {color:#999;}

.qa-a-list-item {
	padding: 20px;
	border-bottom:1px solid #EBEBEB;
}

.qa-a-item-main {
} /* inline-block for IE */
.qa-a-item-selected .qa-a-item-content {background-color:#d7e3e1; padding:10px;}
.qa-a-item-content { min-height: 68px;margin-left:128px; font-size:110%; margin-bottom:12px;}
.qa-a-item-avatar {display:inline-block; vertical-align:middle; margin-right:8px;}
.qa-a-item-meta {margin-left: 16px; display:inline-block; vertical-align:middle; font-size:86%;margin-top:12px;}
.qa-a-item-when-data {font-weight:bold;}
.qa-a-item-who-title {font-size:65%; font-weight:bold; color:#900707;}
.qa-a-item-points-data {font-weight:bold;}
.qa-a-item-flags {background:#f00; color:#fff; font-weight:bold; padding:2px 5px; display:inline-block;}
.qa-a-item-buttons {text-align:right; margin-top:12px; clear:both;}
.qa-a-item-c-list {clear:both; margin:12px 0 0 12px; border-top:1px dotted #EBEBEB;}

/* Answer selection */

.qa-a-selection {float:right; width:48px; text-align:center; padding:6px;}

.qa-a-select-button,.qa-a-select-hover {background:url(select-star.png) no-repeat !important; border:0 !important; height:28px !important; width:30px !important;}
	.qa-a-select-button {background-position: 0 -28px !important;}
	.qa-a-select-hover,.qa-a-select-button:hover {background-position: 0 -56px !important;}

.qa-a-unselect-button,.qa-a-unselect-hover {background:url(selected-star.png) no-repeat !important; border:0 !important; height:28px !important; width:30px !important;}
	.qa-a-unselect-button {background-position: 0 0 !important;}
	.qa-a-unselect-hover,.qa-a-unselect-button:hover {background-position: 0 -28px !important;}

.qa-a-selected {background:url(selected-star.png) no-repeat 0 0 !important; height:28px !important; width:30px !important; margin:0 auto !important;}
.qa-a-selected-text {font-size:70% !important; font-weight:bold !important; display:block !important; margin-top:6px !important;}

/* Comments */

.qa-c-list-item {border-bottom:1px dotted #EBEBEB; padding:6px; padding-right:0;}
.qa-c-item-hidden {}
	.qa-c-item-hidden .qa-c-item-content {color:#bbb;}
	.qa-c-item-hidden .qa-c-item-link {color:#aaf;}
	.qa-c-item-hidden .qa-c-item-what {color:#ccc;}
	.qa-c-item-hidden .qa-c-item-meta {color:#ccc;}
	.qa-c-item-hidden .qa-c-item-who-title {color:#999;}
	.qa-c-item-hidden .qa-user-link {color:#999;}

.qa-c-item-link {display:block; margin-bottom:6px;}
.qa-c-item-content {display:block; color:#333; font-size:100%; margin-bottom:6px;}
.qa-c-item-footer {position:relative; height:58px;} /* height for IE6 */
.qa-c-item-avatar {display:inline-block; vertical-align:middle; margin-right:4px;}
.qa-c-item-meta {display:inline-block; vertical-align:middle; font-size:70%; color:#666; }
.qa-c-item-who-title {font-size:65%; font-weight:bold; color:#900707;}
.qa-c-item-who-points {display:none;}
.qa-c-item-flags {background:#f00; color:#fff; font-weight:bold; padding:2px 5px; display:inline-block;}
.qa-c-item-buttons {display:block; position:absolute; bottom:0px; right:0px;}

/* Footer parts */

.qa-nav-footer-list {float:left; list-style-type:none; padding:5px; margin:0;}
.qa-nav-footer-item {float:left; margin-right:12px;}
.qa-nav-footer-link {line-height:185%; text-decoration:underline !important;}
.qa-attribution {float:right;margin-top: 10px;}
	.qa-attribution a {text-decoration:underline; !important;}

/* Classes in HTML passed to theme class */

.qa-user-link {color:#3B5998; font-weight:bold;}
.qa-logged-in-data .qa-user-link {font-weight:bold;}
.qa-logged-in-pad{display:none;width: 0px;}
.qa-category-link {color:#3B5998; font-weight:bold;}
.qa-tag-link {
    padding: 8px 4px 4px 20px;
    border-radius:2px;
    margin: 15px 15px 0px 0;
    font-size:12px;
    color:#235272;
    font-weight:normal;
    display:inline-block;
    vertical-align:middle;
    text-decoration:none ;
    background: url(tag-icon.png) no-repeat center left;
    height: 16px;

} /* inline-block for IE, -moz-inline-stack for early FF */
	.qa-tag-link:hover {text-decoration:underline; }
.qa-avatar-image {border:0; vertical-align:middle;}
.qa-avatar-link,.qa-avatar-link:hover {text-decoration:none;}

/*
	IMPORTANT: Copy the CSS below to your duodaa-mobitheme-styles.css!
*/


/* Markdown editor plugin */
#wmd-button-bar {
	width: 100%;
	padding: 3px 0;
	/*background-color: #eeeeec;
	border: 1px solid #ccc;*/
}
#wmd-input {
	height: 250px;
	width: 99%;
	padding: 2px;
	border: 1px solid #ccc;
}
#wmd-preview {
	margin: 8px 0;
	padding: 8px;
	border: 2px dashed #ccc;
}
#wmd-preview > :first-child {
	margin-top: 0;
}

#wmd-button-row {
	position: relative;
	margin: 0;
	padding: 0;
	height: 20px;
}

.wmd-spacer {
	width: 1px;
	height: 20px;
	margin-left: 13px;

	position: absolute;
	background-color: #EBEBEB;
	display: inline-block;
	list-style: none;
}
.wmd-button {
	width: 20px;
	height: 20px;
	margin-left: 5px;
	margin-right: 5px;

	position: absolute;
	/* note: background-image is set in plugin script */
	background-repeat: no-repeat;
	display: inline-block;
	list-style: none;
}
.wmd-button > a {
	width: 20px;
	height: 20px;
	margin-left: 5px;
	margin-right: 5px;

	position: absolute;
	display: inline-block;
}


/* sprite button slicing style information */
#wmd-button-bar #wmd-bold-button    { left: 0px;   background-position: 0px 0; }
#wmd-button-bar #wmd-italic-button  { left: 25px;  background-position: -20px 0; }
#wmd-button-bar #wmd-spacer1        { left: 50px; }
#wmd-button-bar #wmd-link-button    { left: 75px;  background-position: -40px 0; }
#wmd-button-bar #wmd-quote-button   { left: 100px;  background-position: -60px 0; }
#wmd-button-bar #wmd-code-button    { left: 125px;  background-position: -80px 0; }
#wmd-button-bar #wmd-image-button   { left: 150px;  background-position: -100px 0; }
#wmd-button-bar #wmd-spacer2        { left: 175px; }
#wmd-button-bar #wmd-olist-button   { left: 200px;  background-position: -120px 0; }
#wmd-button-bar #wmd-ulist-button   { left: 225px; background-position: -140px 0; }
#wmd-button-bar #wmd-heading-button { left: 250px; background-position: -160px 0; }
#wmd-button-bar #wmd-hr-button      { left: 275px; background-position: -180px 0; }
#wmd-button-bar #wmd-spacer3        { left: 300px; }
#wmd-button-bar #wmd-undo-button    { left: 325px; background-position: -200px 0; }
#wmd-button-bar #wmd-redo-button    { left: 350px; background-position: -220px 0; }
#wmd-button-bar #wmd-help-button    { right: 0px; background-position: -240px 0; }


.wmd-prompt-background {
	background-color: #000;
}
.wmd-prompt-dialog {
	border: 1px solid #999;
	background-color: #f5f5f5;
}
.wmd-prompt-dialog > div {
	font-size: 0.8em;
	font-family: arial, helvetica, sans-serif;
}
.wmd-prompt-dialog > form > input[type="text"] {
	border: 1px solid #999;
	color: black;
}
.wmd-prompt-dialog > form > input[type="button"]{
	border: 1px solid #888;
	font-size: 11px;
	font-weight: bold;
}


.qa-a-item-content h2,
#wmd-preview h2 {
	font-size: 24px;
	color: #000;
}
.qa-a-item-content h3,
#wmd-preview h3 {
	font-size: 20px;
	color: #000;
}
.qa-a-item-content h4,
#wmd-preview h4 {
	font-size: 16px;
	color: #000;
}
.qa-a-item-content h5,
#wmd-preview h5,
.qa-a-item-content h6,
#wmd-preview h6 {
	font-size: 13px;
	color: #000;
}


/*以下修改jqm的东西*/
.ui-btn{
    padding:0px 0px 0px 0px
}
