
/*
	Theme Name: IdeaBox
	Theme URI: http://qa-themes.com/shop/ideabox-theme
	Theme Version: 1.1
	Theme Date: 2014-1-22
	Theme Author: QA-Themes
	Theme Author URI: http://www.QA-Themes.com/
	Theme Update Check URI: https://raw.github.com/Towhidn/Q2A-IdeaBox-Theme/master/IdeaBox-theme/qa-styles.css
	Theme License: MIT License
*/


/* General page layout */

body {
	background-color: #F6F6F6;
    margin: 0;
    padding: 0;
	text-align:left;
}
body, td, input, textarea {
	font-family: 'Helvetica Neue',Helvetica,Arial;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.5;
}
input[type="text"], input[type="password"], textarea, select { 
  outline: none;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus { 
  box-shadow: 1px solid #eee;
}

form {
    margin: 0;
    padding: 0;
}
a:link, a:active, a:visited {
	text-decoration:none;
	font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
}
a:hover {
	text-decoration:underline;
}
p {
	margin:2px;
}
.qa-body-wrapper {
	margin: 0 auto 5px;
    max-width: 1140px;
    min-height: 750px;
    overflow: auto;
    padding: 0;
    text-align: left;
    width: 100%;
}

.suggestion-box {
	border: 1px solid #DAD9D9;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 1px 0 6px #E5E5E5 inset;
    font-size: 14px;
    padding: 8px;
	-webkit-transition: 0.25s linear;
	-moz-transition: 0.25s linear;
	-o-transition: 0.25s linear;
	transition: 0.25s linear;
    display: inline-block;
    max-width: 757px;
    width: 100%;
}
.suggestion-submit {
	background-color: #3BAFDA;
    border: 1px solid #3BAFDA;
    color: #FFFFFF;
    float: right;
    margin: 5px 0;
    padding: 4px;
	-webkit-transition: 0.25s linear;
	-moz-transition: 0.25s linear;
	-o-transition: 0.25s linear;
	transition: 0.25s linear;
	-webkit-backface-visibility: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
}
.suggestion-submit:focus, .suggestion-submit:hover {
    background-color: #66C1E2;
    border: 1px solid #66C1E2;
}
.suggestion-submit:active {
    background-color: #2494BE;
    border: 1px solid #2494BE;
}

/* Clearing classes */

.qa-nav-main-clear, .qa-nav-sub-clear, .qa-q-item-clear, .qa-q-view-clear, .qa-a-item-clear, .qa-c-item-clear, .qa-footer-clear, .qa-vote-count-clear, .qa-page-links-clear {
	clear:both;
}
/* Headings */

h1 {
	font-size:22px;
	margin:1em 0
}
h2 {
	font-size:16px;
	padding-top:12px;
	clear:both;
}
.qa-error {
	font-size: 17px;
    margin: 1em 0;
    padding: 0.5em;
	border: 1px solid #E74C3C;
    box-shadow: none;
    color: #E74C3C;
	border-radius: 6px 6px 6px 6px;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
}
.qa-error a {
	color:#EF2828;
	text-decoration:underline;
}
.qa-error a:hover {
	color:#f00;
}
/* Page sections */

.qa-header {
	background:none repeat scroll 0 0 #1990DD;
    display: inline-block;
    margin: -1px auto 0;
    text-align: left;
    width: 100%;
}
.qa-header-box {
	margin: -1px auto 0;
    text-align: left;
    max-width: 1140px;
    width: 100%;
}

.qa-sidebar-container {
    font-size: 14px;
	background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #CFD7E6;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin: 24px 0;
    padding: 12px;
}
.qa-sidepanel {
	float: right;
    padding: 1%;
    width: 28%;
}
* html .qa-sidepanel {
	margin-right:10px;
} /* IE6 */
.qa-sidebar {
	margin-top: 5px;
}
.qa-feed {
	background:url(images/feed.png) no-repeat left top;
	padding-left:20px;
	height:16px;
	margin:24px 0;
}
.qa-feed-link {
	font-size:10px;
	color:#666;
}
.qa-feed-cat{
	background: url("images/feed.png") no-repeat scroll left top transparent;
    height: 16px;
    width: 16px;
}
.qa-cat-feed-link {
    float: right;
    margin-top: 3px;
    color: #666666;
    font-size: 10px;
}
.qa-feed-link{
	float: left;
}
.qa-main {
	clear: left;
    float: left;
    margin-bottom: 2em;
    overflow: hidden;
    padding: 1%;
    width: 68%;
}
.qa-main-hidden h1 {
	color:#999;
}
.qa-footer {
	max-width: 1140px;
    width: 100%;
	margin:0 auto;
}
.qa-wrap-footer{
	clear: both;
    color: #444444;
    font-size: 12.5px;
    padding: 12px;
}
.qa-nav-footer {
    clear: both;
    display: inline-block;
}
* html .qa-footer {
	padding-top:6px;
} /* IE6 */
/* Widget wrappers */

.qa-widgets-full-top {
	margin-bottom:-4px;
}
.qa-widget-full {
	clear:both;
	margin:20px;
	width:942px;
}
.qa-widget-full-high {
	margin-bottom:0;
}
.qa-widgets-main-top {
	margin-top:24px;
}
.qa-widgets-main-high {
	margin-bottom:24px;
}
.qa-widget-main {
	margin:20px 0;
	width:100%;
}
.qa-widget-main-bottom {
	margin-bottom:0;
}
.qa-widgets-side-top {
	margin-top:24px;
}
.qa-widget-side {
	background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #CFD7E6;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    font-size: 15px;
    margin: 24px 0;
    padding: 12px;
}
/* Header sections */

.qa-logo {
	float:left;
	margin:16px 10px;
	font-size:40px;
	font-weight:bold;
	color:#293d39;
}
.qa-logo-link, .qa-logo-link:hover {
	color: #E4E4E4;
    font-family: "Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif !important;
    text-decoration: none;
}
.qa-nav-user {
    color: #222222;
    display: inline-block;
    text-align: left;
    width: auto;
}
.qa-nav-user-list {
    clear: both;
    display: inline-block;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.qa-nav-user-item {
    clear: both;
    float: left;
    padding-left: 20px;
}
.qa-nav-user-link {
	color: #157AB5;
    font-family: ProximaNovaRgRegular,"Helvetica Neue",Arial,sans-serif;
	font-size: 12px;
    text-decoration: none;
}
.qa-logged-in {
    display: inline-block;
    float: left;
}

.qa-nav-user-register {
    background: url("images/key-icon.png") no-repeat scroll left center transparent;
}
.qa-nav-user-login {
    background: url("images/user-icon.png") no-repeat scroll left center transparent;
}
.qa-nav-user-account {
    background: url("images/wheel-icon.png") no-repeat scroll left center transparent;
}
.qa-nav-user-updates {
    background: url("images/communicate-icon.png") no-repeat scroll left center transparent;
}
.qa-nav-user-logout {
    background: url("images/login-out-icon.png") no-repeat scroll left center transparent;
}
.qa-search {
	width: 100%;
	float: right;
	background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #2198DD;
    display: inline;
	position: relative;
    margin-bottom: 5px;
}

.suggestion-header {
    clear: both;
    font-family: Arial,​sans-serif;
    font-size: 23px;
    font-weight: 100;
    padding-top: 12px;
}
.qa-search-field {
	background-color: rgba(0, 0, 0, 0);
    padding: 7px 0;
    width: 100%;
	border:medium none;
	height: 30px;
    padding: 0 4px;
}
.qa-search-button{
	background: none repeat scroll 0 0 #3399FF;
    border: 0 none;
    border-radius: 0 3px 3px 0;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font: bold 15px/40px 'lucida sans','trebuchet MS','Tahoma';
    height: 32px;
    overflow: visible;
	line-height: 1.5;
    padding: 0;
    position: absolute;
    right: -1px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    top: -1px;
    width: 90px;
	-webkit-transition: 0.25s linear;
	-moz-transition: 0.25s linear;
	-o-transition: 0.25s linear;
	transition: 0.25s linear;
	-webkit-backface-visibility: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;

}
.qa-search-button:hover{    
    background: #2198DD;
}  
   
.qa-search-button:active,
.qa-search-button:focus{  
    background: #166C9E;
    outline: 0;  
}

 
.qa-search-button:hover:before{
    border-right-color: #e54040;
}
 
.qa-search-button:focus:before,
.qa-search-button:active:before{
        border-right-color: #c42f2f;
}     
 
.qa-search-button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}    
/* Main, sub and category navigation */

.qa-nav-main {
	clear:both;
}
.qa-nav-main-list {
	font-size:16px;
	list-style:none;
	padding:0;
	margin:0;
}
.qa-nav-main-selected {
    color: #157AB5 !important;
}
.qa-nav-main-link:hover{
	color: #444444 !important;
	text-decoration: none;
}
.qa-nav-main-item {
	float: left;
    margin-right: 5px;
}
.qa-nav-main-item-opp {
	float:right;
	margin-right:4px;
}
.qa-nav-main-link {
	color: #808080;
    display: block;
    font-weight: bold;
    padding: 6px 10px;
}
.qa-nav-main-item:hover, .qa-nav-main-item-selected  {
	text-decoration:none;
}
.qa-sub-nav{
    float: left;
    max-width: 1140px;
    width: 100%;
}
.qa-nav-sub {
	float: left;
    max-width: 750px;
    padding: 3px 0 0 8px;
}
.qa-nav-sub-list {
	font-size:12px;
	list-style:none;
	padding:0;
	margin:0;
}
.qa-nav-sub-item {
	background: none repeat scroll 0 0 #EEEEEE;
    float: left;
    margin-bottom: 5px;
    margin-right: 4px;
	position: relative;
}
.qa-nav-sub-link {
	color:#3399FF;
	font-weight:bold;
	padding: 5px 10px;
	display:block;
}
.qa-nav-sub-link:hover{
	color:#3399FF;
}
.qa-nav-sub-selected {
    background: none repeat scroll 0 0 #157AB5;
    color: #FFFFFF !important;
    text-decoration: none;
}
.qa-nav-sub-selected:after {
    border-color: #157AB5 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    bottom: -5px;
    content: "";
    display: block;
    left: 10px;
    position: absolute;
    width: 0;
}
.qa-nav-cat {
	background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #CFD7E6;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    font-size: 15px;
    margin: 24px 0;
    padding: 12px;
}
.qa-nav-cat-all {
    font-size: 110%;
    font-weight: 900;
}
.qa-nav-cat-item {
    margin: 0;
}
.qa-nav-cat-list {
	list-style:none;
	padding:0;
	margin:0;
}
.qa-nav-cat-list-1 {
	font-size:14px;
}
.qa-nav-cat-list-2 {
	font-size:12px;
	margin-left:1em;
}
.qa-nav-cat-list-3 {
	font-size:10px;
	margin-left:1em;
}
.qa-nav-cat-list-4 {
	font-size:9px;
	margin-left:1em;
}
.qa-nav-cat-link {
	
}
.qa-nav-cat-selected, .qa-nav-cat-selected:hover {
	text-decoration:none;
	color:#000;
}
.qa-nav-cat-item > .qa-nav-cat-list {
    margin-left: 12px;
}
/* Pagination */

.qa-page-links {
	padding:12px 0;
	font-size:14px;
	clear:both;
	zoom:1;
} /* zoom:1 for IE6 */
.qa-page-links-label {
	color:#333;
}
.qa-page-links-list {
	margin:0;
	padding:0;
	list-style:none;
	display:inline;
}
.qa-page-links-item {
	display:inline;
}
.qa-page-link, .qa-page-selected, .qa-page-prev, .qa-page-next {
	margin:3px 1px;
	padding:3px 5px;
}
.qa-page-link:hover, .qa-page-prev:hover, .qa-page-next:hover {
	color: #D10907;
    text-decoration: none;
}
.qa-page-link {
	color:#333;
}
.qa-page-prev, .qa-page-next {
	color:#333;
	background:#DDD;
}
.qa-page-selected {
	background-color: #DDDDDD;
    color: #FFFFFF;
}
.qa-page-ellipsis {
	color:#666;
}
/* Standard form (tall version) */
.qa-part-form {
    border: 1px solid #D9D9D9;
}
.qa-form-tall-table {
	width: 100%;
}
.qa-form-tall-spacer {
	background:#E3F4FF;
	line-height:1px;
	padding:0;
	font-size:1px;
}
.qa-form-tall-ok {
	border:1px solid #090;
	color:#090;
	font-size:18px;
	padding:6px;
	text-align:center;
}
.qa-form-tall-label {
	color:#253845;
	padding:12px 8px 2px 8px;
	font-size:13px;
	font-weight:bold;
}
.qa-form-tall-data {
	padding:0px 8px 10px 8px;
	width:480px;
}
.qa-form-tall-text, .qa-form-tall-number {
	padding:3px;
}
.qa-form-tall-text {
	border: 1px solid #DAD9D9;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 1px 0 6px #E5E5E5 inset;
    font-size: 14px;
    padding: 8px;
    width: 480px;
	-webkit-transition: 0.25s linear;
	-moz-transition: 0.25s linear;
	-o-transition: 0.25s linear;
	transition: 0.25s linear;
}
.qa-form-tall-text:focus {
    border: 1px solid #666666;
}
.qa-form-tall-number {
	width:48px;
	border:1px solid #658296;
}
.qa-form-tall-checkbox {
	float:left;
	margin-right:6px;
}
.qa-form-tall-image {
	text-align:center;
	margin-top:12px;
}
.qa-form-tall-image img {
	border:1px solid #000;
}
.qa-form-tall-error {
	background:#fee;
	border:1px solid #c00;
	color:#c00;
	font-size:14px;
	margin-top:6px;
	padding:.5em;
	display:inline-block;
}
.qa-form-tall-note {
	margin-top:6px;
}
.qa-form-tall-note a {
	color:#293D39;
	text-decoration:underline;
}
.qa-form-tall-note a:hover {
	color:#396E63;
}
.qa-form-tall-buttons {
	padding:8px;
	text-align:center;
}
/* Standard form (wide version) */

.qa-form-wide-table {
	width: 98%;
}
.qa-form-wide-spacer {
	background:#E3F4FF;
	line-height:1px;
	padding:0;
	font-size:1px;
}
.qa-form-wide-ok {
	border:1px solid #090;
	color:#090;
	font-size:16px;
	padding:6px;
	text-align:center;
}
.qa-form-wide-label {
	color:#253845;
	padding:6px 10px;
	font-size:13px;
	font-weight:bold;
	white-space: nowrap;
}
.qa-form-wide-data {
	padding:6px 10px;
}
.qa-form-wide-text, .qa-form-wide-number {
	padding:3px;
}
.qa-form-wide-text {
	width:320px;
	border:1px solid #658296;
}
.qa-form-wide-number {
	width:48px;
	border:1px solid #658296;
	vertical-align:middle;
}
.qa-form-wide-error {
	display:inline-block;
	background:#fee;
	border:1px solid #c00;
	color:#c00;
	font-size:11px;
	margin-left:6px;
	padding:.5em;
}
.qa-form-wide-note {
	font-size:10px;
	margin-left:4px;
}
.qa-form-wide-buttons {
	padding:8px;
	text-align:center;
}
/* Standard form (light version - buttons only) */

.qa-form-light-button, .qa-form-light-hover {
	background:none;
	border:1px solid #fff;
	cursor:pointer;
	padding:0;
	margin-right:6px;
	font-size:10px;
	overflow: visible;
} /* overflow:visible for IE, 1px border needed for tooltips to work more reliably in IE */
.qa-form-light-button {
	color:#666;
}
.qa-form-light-hover, .qa-form-light-button:hover {
	color:#000;
}
/* Standard form (basic version - buttons only) */

.qa-form-basic-button, .qa-form-basic-hover {
	background:none repeat scroll 0 0 #293D39;
	border:1px solid #293D39;
	margin:4px 4px 4px 0;
	padding:3px 4px;
	vertical-align:middle;
}
.qa-form-basic-button {
	color:#FFF;
}
.qa-form-basic-hover, .qa-form-basic-button:hover {
	background:#396E63;
	border:1px solid #293D39;
	color:#FFF;
}
.qa-form-basic-note {
	font-size:11px;
}
/* Question list */

.qa-q-list-item {
	display: inline-block;
    margin-bottom: 24px;
    padding-bottom: 1px;
    width: 100%;
	zoom:1;
} /* zoom for IE, padding for early FF */
.qa-q-item-main {
	width: 100%
	max-width:775px;
}
.qa-q-item-title {
	color:#235272;
	font-weight:bold;
	font-size:16px;
}
.qa-q-item-title a {
	color:#235272;
}
.qa-q-item-avatar {
	display:inline-block;
	vertical-align:middle;
	margin-top:6px;
	margin-right:2px;
}
.qa-q-item-meta {
	display:inline-block;
	vertical-align:middle;
	margin-top:6px;
}
.qa-q-item-who-data .qa-user-link, .author .qa-user-link {
	color:#0029F2;
}
.qa-q-item-when-data {
	font-weight:bold;
}
.qa-q-item-who-title {
	font-size:80%;
	font-weight:bold;
	color:#900707;
}
.qa-q-item-points-data {
	font-weight:bold;
}
.qa-q-item-tags {
	margin-top:8px;
}
.qa-q-item-tag-list {
	list-style:none;
	margin:0;
	padding:0;
}
.qa-q-item-tag-item {
	display:inline;
}
.qa-suggest-next {
	font-size:14px;
	padding:0.5em 0;
	text-align:center;
	clear:both;
}
.qa-suggest-next a {
	background: none repeat scroll 0 0 #1ABC9C;
    border: medium none;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    margin: 0 2px;
    padding: 6px 8px;
	-webkit-transition: 0.25s linear;
	-moz-transition: 0.25s linear;
	-o-transition: 0.25s linear;
	transition: 0.25s linear;
	-webkit-backface-visibility: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
}
.qa-suggest-next a:hover {
	color:#fff;
	background:#16A085;
	text-decoration:none;
}
/* Votes */
.qa-favoriting {
	float: right;
    padding: 10px;
}
.qa-favorite-button, .qa-favorite-hover, .qa-unfavorite-button, .qa-unfavorite-hover {
	background:url(images/favorite-plus.gif) no-repeat;
	border:0;
	height:26px;
	width:26px;
}
.qa-favorite-button {
	background-position: 0 -26px;
}
.qa-favorite-hover, .qa-favorite-button:hover {
	background-position: 0 0px;
}
.qa-unfavorite-button {
	background-position: 0 -52px;
}
.qa-unfavorite-hover, .qa-unfavorite-button:hover {
	background-position: 0 0px;
}
/* qa-*-hover classes are substituted by JS (for IE), qa-*-button:hover is a backup for other browsers if JS is off */

.qa-voting {
    float: left;
    margin-right: 10px;
    width: 80px;
}
.qa-vote-buttons > input{
	margin-top:4px;	
	white-space: nowrap;
    width: 100%;
	border-radius: 2px 2px 2px 2px;
	color: #FFFFFF;
	cursor: pointer;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.qa-vote-buttons {
	
}
.qa-vote-one-button {
	
}
.qa-vote-second-button {
	
}
.qa-vote-up-button, .qa-vote-up-hover, .qa-vote-up-disabled {
	
}

.qa-vote-up-button {
	background-color: #8CC152;
	border: 1px solid #8CC152;
}
.qa-vote-up-button:hover, .qa-vote-up-button:focus{
	background-color: #A5CE78;
    border: 1px solid #A5CE78;
}
.qa-vote-up-disabled {
	background-color: #BEDC9D;
    border: 1px solid #BEDC9D;
	cursor: not-allowed;
    pointer-events: none;
}
.qa-vote-up-hover, .qa-vote-up-button:hover {
	
}
.qa-vote-down-button, .qa-vote-down-hover, .qa-vote-down-disabled {
	
}
.qa-vote-down-button {
	background-color: #DA4453;
    border: 1px solid #DA4453;
}
.qa-vote-down-button:hover, .qa-vote-down-button:focus {
	background-color: #E26F7A;
    border: 1px solid #E26F7A;
}
.qa-vote-down-disabled {
	background-color: #EB99A1;
    border: 1px solid #EB99A1;
	cursor: not-allowed;
    pointer-events: none;
}
.qa-vote-down-hover, .qa-vote-down-button:hover {
	
}
.qa-voted-up-button, .qa-voted-up-hover {
	
}
.qa-voted-up-button {
	background-color: #27AE60;
    border: 1px solid #BEDC9D;
}
.qa-voted-up-hover, .qa-voted-up-button:hover {
	
}
.qa-voted-down-button, .qa-voted-down-hover {
	background-color: #E74C3C;
    border: 1px solid #EB99A1;
}
.qa-voted-down-button {
	
}
.qa-voted-down-hover, .qa-voted-down-button:hover {
	
}

.qa-vote-count {
    border: 1px solid #D8DDEC;
    border-radius: 3px 3px 3px 3px;
    text-align: center;
}
.qa-netvote-count {
	
}
.qa-netvote-count-data {
	padding-top:1px;
	font-size:20px;
	font-weight:bold;
	display:block;
}
.qa-netvote-count-pad {
	font-size:11px;
	color: #0E2B54;
}
.qa-upvote-count, .qa-downvote-count {
	width:48px;
	height:27px;
	position:relative;
	top:-4px;
	display:block;
}
.qa-upvote-count-data, .qa-downvote-count-data {
	font-size:18px;
	font-weight:bold;
	display:inline;
}
.qa-upvote-count-pad, .qa-downvote-count-pad {
	font-size:9px;
	display:none;
}
/* Answers and views count */

.qa-a-count {

}
.qa-a-count-data {
	font-weight:bold;
}
.qa-a-count-pad {
	font-size:11px;
}
.qa-view-count, .qa-a-count  {
    font-size: 11px;
    margin: 3px 5px 0;
}
.qa-a-count-zero{
	display:none;
}
.qa-view-count-data {
	font-weight:bold;
}
/* Tags, users and categories */

.qa-top-tags-table {
	float:left;
	border-collapse:collapse;
	margin-bottom:1em;
}
.qa-top-tags-count {
	border:1px solid #DDD;
	border-right:1px dashed #DDD;
	color:#235272;
	text-align:right;
	padding:6px 8px 6px 12px;
}
.qa-top-tags-label {
	border:1px solid #DDD;
	border-left:none;
	background:#F2F8FF;
	padding:3px 16px 0px 8px;
}
.qa-top-tags-label .qa-tag-link {
	font-weight:normal;
}
.qa-top-tags-spacer {
	padding:0 4px;
}
.qa-top-users-table {
	float:left;
	border-collapse:collapse;
	margin-bottom:1em;
}
.qa-top-users-label {
	border:1px solid #ddd;
	border-right:1px dashed #ddd;
	padding:6px 16px 6px 12px;
	text-align:left;
}
.qa-top-users-score {
	border:1px solid #ddd;
	border-left:none;
	background:#F9F9F4;
	color:#414944;
	text-align:right;
	padding:6px 12px;
}
.qa-top-users-spacer {
	padding:0 4px;
}
.qa-browse-cat-list {
	list-style:none;
	padding:0;
	margin:0;
	margin-left:2.5em;
}
.qa-browse-cat-list-1 {
	font-size:16px;
}
.qa-browse-cat-list-2 {
	font-size:14px;
}
.qa-browse-cat-list-3 {
	font-size:12px;
}
.qa-browse-cat-list-4 {
	font-size:10px;
}
.qa-browse-cat-item {
	margin:0.5em 0;
	font-weight:bold;
	color:#000;
}
.qa-browse-cat-closed {
	list-style:disc;
}
.qa-browse-cat-open {
	list-style:circle;
}
.qa-browse-cat-link {
	font-weight:bold;
	text-decoration:none;
	color:#000;
}
.qa-browse-cat-note {
	font-weight:normal;
	font-size:85%;
	color:#444;
}
.qa-browse-cat-note a {
	color:#473A9F;
}
/* Question view */

.qa-q-view-main {
	float:left;
	width:600px;
}
.qa-q-view-content {
	font-size:14px;
	margin-bottom:16px;
}
.qa-q-view-avatar {
	display:inline-block;
	vertical-align:middle;
	margin-right:8px;
}
.qa-q-view-meta {
	display:inline-block;
	vertical-align:middle;
	font-size:13px;
}
.qa-q-view-follows {
	font-size:13px;
	margin-bottom:12px;
}
.qa-q-view-when-data {
	font-weight:bold;
}
.qa-q-view-who-title {
	font-size:80%;
	font-weight:bold;
	color:#900707;
}
.qa-q-view-points-data {
	font-weight:bold;
}
.qa-q-view-flags {
	background:#f00;
	color:#fff;
	font-weight:bold;
	padding:2px 5px;
	margin:4px 0;
	display:inline-block;
}
.qa-q-view-tags {
	margin-bottom:12px;
}
.qa-q-view-tag-list {
	list-style:none;
	margin:0;
	padding:0;
}
.qa-q-view-tag-item {
	display:inline;
}
.qa-q-view-buttons {
	text-align:right;
	clear:both;
}
.qa-q-view-c-list {
	clear:both;
	margin:24px 0 0 24px;
	border-top:1px dotted #666;
}
.qa-q-view-hidden {
}
.qa-q-view-hidden .qa-voting {
	background:#fff;
	border:1px solid #ccc;
	color:#ccc;
}
.qa-q-view-hidden .qa-q-view-content {
	color:#999;
}
.qa-q-view-hidden .qa-q-view-meta {
	color:#ccc;
}
.qa-q-view-hidden .qa-user-link {
	color:#999;
}
.qa-q-view-hidden .qa-q-view-who-title {
	color:#999;
}
.qa-q-view-hidden .qa-category-link {
	color:#999;
}
.qa-q-view-hidden .qa-tag-link {
	background-color:#ccc;
}
/* Answer view  */

.qa-a-list-item {
	margin-bottom:40px;
	zoom:1;
	padding-bottom:1px;
} /* zoom for IE, padding for early FF */
.qa-a-list-item-hidden {
}
.qa-a-list-item-hidden .qa-voting {
	background:#FFF;
	border:1px solid #ccc;
	color:#ccc;
}
.qa-a-list-item-hidden .qa-a-item-content {
	color:#999;
}
.qa-a-list-item-hidden .qa-a-item-what {
	color:#ccc;
}
.qa-a-list-item-hidden .qa-a-item-meta {
	color:#ccc;
}
.qa-a-list-item-hidden .qa-a-item-who-title {
	color:#999;
}
.qa-a-list-item-hidden .qa-user-link {
	color:#999;
}
.qa-a-item-main {
	float:left;
	width:600px;
	display:inline-block;
} /* inline-block for IE */
.qa-a-item-selected {
	padding:10px;
}
.qa-a-item-content {
	font-size:14px;
	margin-bottom:12px;
}
.qa-a-item-avatar {
	display:inline-block;
	vertical-align:middle;
	margin-right:8px;
}
.qa-a-item-meta {
	display:inline-block;
	vertical-align:middle;
	font-size:13px;
}
.qa-a-item-when-data {
	font-weight:bold;
}
.qa-a-item-who-title {
	font-size:80%;
	font-weight:bold;
	color:#900707;
}
.qa-a-item-points-data {
	font-weight:bold;
}
.qa-a-item-flags {
	background:#f00;
	color:#fff;
	font-weight:bold;
	padding:2px 5px;
	display:inline-block;
}
.qa-a-item-buttons {
	text-align:right;
	margin-top:12px;
	clear:both;
}
.qa-a-item-c-list {
	clear:both;
	margin:12px 0 0 12px;
	border-top:1px dotted #666;
}
/* Answer selection */

.qa-a-selection {
	float:right;
	width:48px;
	text-align:center;
	padding:6px 0;
}
.qa-a-select-button, .qa-a-select-hover {
	background:url(images/select-star.png) no-repeat;
	border:0;
	height:28px;
	width:30px;
}
.qa-a-select-button {
	background-position: 0 -28px;
}
.qa-a-select-hover, .qa-a-select-button:hover {
	background-position: 0 -56px;
}
.qa-a-unselect-button, .qa-a-unselect-hover {
	background:url(images/selected-star.png) no-repeat;
	border:0;
	height:28px;
	width:30px;
}
.qa-a-unselect-button {
	background-position: 0 0;
}
.qa-a-unselect-hover, .qa-a-unselect-button:hover {
	background-position: 0 -28px;
}
.qa-a-selected {
	background:url(images/selected-star.png) no-repeat 0 0;
	height:28px;
	width:30px;
	margin:0 auto;
}
.qa-a-selected-text {
	font-size:10px;
	font-weight:bold;
	display:block;
	margin-top:6px;
}
/* Comments */

.qa-c-list-item {
	border-bottom:1px dotted #666;
	padding:6px;
	padding-right:0;
}
.qa-c-item-hidden {
}
.qa-c-item-hidden .qa-c-item-content {
	color:#bbb;
}
.qa-c-item-hidden .qa-c-item-link {
	color:#aaf;
}
.qa-c-item-hidden .qa-c-item-what {
	color:#ccc;
}
.qa-c-item-hidden .qa-c-item-meta {
	color:#ccc;
}
.qa-c-item-hidden .qa-c-item-who-title {
	color:#999;
}
.qa-c-item-hidden .qa-user-link {
	color:#999;
}
.qa-c-item-link {
	display:block;
	margin-bottom:6px;
}
.qa-c-item-content {
	display:block;
	color:#333;
	font-size:12px;
	margin-bottom:6px;
}
.qa-c-item-footer {
	position:relative;
	height:1%;
} /* height for IE6 */
.qa-c-item-avatar {
	display:inline-block;
	vertical-align:middle;
	margin-right:4px;
}
.qa-c-item-meta {
	display:inline-block;
	vertical-align:middle;
	font-size:10px;
	color:#666;
}
.qa-c-item-who-title {
	font-size:80%;
	font-weight:bold;
	color:#900707;
}
.qa-c-item-who-points {
	display:none;
}
.qa-c-item-flags {
	background:#f00;
	color:#fff;
	font-weight:bold;
	padding:2px 5px;
	display:inline-block;
}
.qa-c-item-buttons {
	display:block;
	position:absolute;
	bottom:0px;
	right:0px;
}
/* Footer parts */

.qa-nav-footer-list {
	display: inline-block;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}
.qa-nav-footer-item {
	float:left;
	margin-right:12px;
}
.qa-nav-footer-link {
	color:#1088CC;
	text-decoration:none !important;
}
.qa-nav-footer-link:hover {
	color:#157AB5;
	text-decoration:underline !important;
}
.qat-qa-attribution {
	display: inline-block;
    float: right;
}
.qa-attribution {
    display: inline-block;
}
.qa-attribution a {
	color: #1088CC;
    text-decoration: none;
}
.qa-attribution a:hover {
	color:#157AB5;
	text-decoration:underline !important;
}
/* Classes in HTML passed to theme class */

.qa-user-link {
	color: #444;
    font-weight: bold;
}
.qa-logged-in-data .qa-user-link {

}
.qa-category-link {
	color:#473A9F;
	font-weight:bold;
}
.qa-tag-link {
    border: 1px solid #ddd;
    border-radius: 2px 2px 2px 2px;
    color: #888;
	font-weight:bold;
	padding:3px 5px;
	margin-bottom:3px;
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:middle;
	text-decoration:none !important;
	transition: background 1s;
	-moz-transition: background 1s; /* Firefox 4 */
	-webkit-transition: background 1s; /* Safari and Chrome */
	-o-transition: background 1s; /* Opera */
} /* inline-block for IE, -moz-inline-stack for early FF */
.qa-tag-link:hover {
    border:  1px solid #ccc;
    color: #444 !important;
    text-decoration: none;
}
.qa-avatar-image {
	border:0;
	vertical-align:middle;
}
.qa-avatar-link, .qa-avatar-link:hover {
	text-decoration:none;
}
/*Respomsive*/
#mobilenav {
	display: none;
}


@media (max-width: 790px){


	
	#mobilenav a {
		display: block;
		text-align: center;
		line-height: 1.8em;
		position: relative;
		z-index: 1;
		
		color: #c6c6c6;
		text-decoration: none;
		font-size: 2em;
		text-shadow: -2px 1px 1px rgba(255,255,255,0.7)
		
		-webkit-transition: color 0.3s ease-in-out 0s;
		-moz-transition: color 0.3s ease-in-out 0s;
		-o-transition: color 0.3s ease-in-out 0s;
		transition: color 0.3s ease-in-out 0s;
		font-weight: bold;
	}
	.qa-nav-main{
		display:none;
	}
	#mobilenav a:hover {
		color: #b1c5d3;
	}
	#mobilenav {
		display: block;
	}
	.qa-menu-nav{
		display:none;
	}
	#navigate:target ~ nav {
		display: block;
	}
	
	.qa-sidepanel {
		float: left;
		padding: 1%;
		width: 98%;
	}
	.qa-header{
		padding:0;
	}
	.qa-nav-user{
	margin:0 auto;
	}
	.qa-nav-user div,.qa-nav-user ul,.qa-nav-user ul li{
		float:left;
	}
	.qa-logo, .qa-nav-user{
		float: none;
		margin: 0 auto;
	}
	.qa-search{
		width: 100%;
	}
	#navigate {
		position: fixed;
		top: 0;
		height: 0;
	}
	#navigate:target ~ nav {
		display: block;
	}
	.qa-nav-main-item ,.qa-nav-main-item:hover,.qa-nav-main-selected,.qa-nav-main-selected:hover,.qa-nav-main-item-opp,.qa-nav-main-item-opp:hover{
		border: 0 none;
		float: left;
		margin: 0;
		padding:0;
		width: 100%;
		background-color:#434343;
		color:#EEE;
		border-radius: 0 0 0 0;
	}
	.qa-nav-main-item:hover,.qa-nav-main-selected:hover,.qa-nav-main-item-opp:hover{
		background-color:#ADD8E6;
	}
	.qa-nav-main-link,.qa-nav-main-link:hover,.qa-nav-main-selected,.qa-nav-main-selected:hover{
	color: #EEEEEE;
    float: none;
    margin: 0 auto;
    padding: 10px 0;
	width: auto;
	text-align:center;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
	}
	.qa-nav-main-item-opp:hover{
		background-color:#DC5D5D !important;
	}
	.qa-nav-main-ask:hover{
		background-color:#157AB5 !important;
	}
	.qa-q-list-item {
		border-bottom: 1px dashed #DDDDDD;
		margin-bottom: 10px;
		padding-bottom: 10px;
	}
	.qa-main {
		padding: 1%;
		width: 98%;
	}
	.qa-attribution {
		clear: both;
	}
	.qa-nav-footer {
		clear: both;
		float: left;
		width: auto;
	}
}


.qa-tag-img {
    margin-right: 5px;
    vertical-align: top;
}